{% assign readIndex = 1 %}
{% for findRead in reads %}{% if findRead == thisRead %}{% assign readIndex = forloop.index %}{% endif %}{% endfor %}
{% if thisRead %}
  <section>
    <article class="intro intro-alpha">
      <h2 id="{{ thisRead.date }}">
        <a href="#{{ thisRead.date }}" class="target">
          <span>Issue:</span><span>{{ reads | size | plus: 1 | minus: readIndex | prepend: '#' }}</span>
        </a>
      </h2>
      <p class="tag">{{ thisRead.date }}</p>
      <ul>
        {% for resource in thisRead.list %}
          <li>
            <div>
              {% if resource.slink or resource.link %}
                <p>
                  <a class="href" href="{% if resource.slink %}{{ resource.slink }}{% elsif resource.link %}{{ resource.slink }}
                    {% endif %}" target="_blank" rel="noopener">{% if resource.title %}{{ resource.title }}{% else %}{{ resource.link }}{% endif %}</a>
                </p>
                <p>
                  <a class="href" href="{% if resource.slink %}{{ resource.slink }}{% elsif resource.link %}{{ resource.slink }}
                    {% endif %}" target="_blank" rel="noopener"><small>{{ resource.link }}</small></a>
                </p>
              {% else %}
                <p>
                  <a class="href" href="{{ resource.link }}" target="_blank" rel="noopener">{% if resource.title %}{{ resource.title }}{% else %}{{ resource.link }}{% endif %}</a>
                </p>
              {% endif %}
              {% if resource.desc %}
                <p>{{ resource.desc }}</p>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
{% endif %}
