{% for resource in resources %}
  <section>
    <article class="intro">
      {% assign resourceHref = resource.name | downcase | replace: ",", "" | replace: "\(", "" | replace: "\)", "" | replace: " ", "-" %}
      <h2 id="{{ resourceHref }}"><a href="#{{ resourceHref }}" class="target"><span>{{ resource.name }}</span></a></h2>
      <div class="table">
        <table>
          <tbody>
            {% for item in resource.list %}
              {% for href in item.resources %}
                <tr>
                  {% if forloop.first %}
                    <td rowspan={{ item.resources.length }}>
                      {% assign itemName = item.name | downcase | replace: "," , "" | replace: "\(" , "" | replace: "\)" , "" | replace: " " , "-" %}
                      {% assign itemHref = resourceHref | append: "-" | append: itemName %}
                      <b id="{{ itemHref }}">
                        <a href="#{{ itemHref }}" class="target">
                          <span>{{ item.name }}</span>
                        </a>
                      </b>
                    </td>
                  {% endif %}
                  <td>
                    <a href="{{ href }}" target="_blank" rel="noopener">{{ href }}</a>
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
  </section>
{% endfor %}
