---
is360: true
---

{% if theme and theme.site and theme.site.language %}
  {% assign lang = theme.site.language %}
{% elsif config and config.language %}
  {% assign lang = config.language %}
{% else %}
  {% assign lang = "en" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  <head>
    {% include '_legacy/head' %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  </head>
  <body id="app">
    <button class="app__button app__button--toggle" @click="hideForm = !hideForm"><span v-show="hideForm">Open editor</span><span v-show="!hideForm">Close editor</span></button>
    <div class="app animated" :class="{ opened: !hideForm }">
      <div class="app__sidebar">
        <form class="app__form" action="">
          <div class="app__input-group">
            <label class="app__label" for="name">Dev name</label>
            <input class="app__input" type="text" id="name" name="name" v-model="name" required>
          </div>
          <div class="app__input-group">
            <label class="app__label" for="position">Dev position</label>
            <input class="app__input" type="text" id="position" name="position" v-model="position" required>
          </div>
          <div class="app__input-group">
            <label class="app__label" for="imagesrc">Dev image source</label>
            <input class="app__input" type="text" id="imagesrc" name="imagesrc" v-model="image.src">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="imagealt">Dev image alt text</label>
            <input class="app__input" type="text" id="imagealt" name="imagealt" v-model="image.alt">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="urlhref">Dev URL href</label>
            <input class="app__input" type="text" id="urlhref" name="urlhref" v-model="url.href">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="urltext">Dev URL text</label>
            <input class="app__input" type="text" id="urltext" name="urltext" v-model="url.text">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="details">Dev details <small>(Separate items with semicolor)</small></label>
            <input class="app__input" type="text" id="details" name="details" v-model="details.list">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="skills">Dev skills <small>(Separate items with semicolor)</small></label>
            <input class="app__input" type="text" id="skills" name="skills" v-model="skills.list">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="summary">Dev skills summary</label>
            <input class="app__input" type="text" id="summary" name="summary" v-model="skills.summary">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="experience">Dev years of experience</label>
            <input class="app__input" type="text" id="experience" name="experience" v-model="skills.experience">
          </div>
          <div class="app__input-group">
            <label class="app__label" for="weakness">Weakness <small>(Separate items with semicolor)</small></label>
            <input class="app__input" type="text" id="weakness" name="weakness" v-model="weakness.list">
          </div>
          <div class="app__action">
            <input type="hidden" name="hideForm" v-model="hideForm">
            <button class="app__button" type="submit">Get link</button>
            <a class="app__button" href="">Restart</a>
            <a class="app__button" href="{{ page.url }}?randomize=true&hideForm=false">Random</a>
            <a class="app__button" href="{{ page.url }}">Default</a>
          </div>
          <p><small>“Get link” creates unique shareable link.</small></p>
          <p><small>“Restart” resets the form to initial state.</small></p>
          <p><small>“Random” shows random made-up profile.</small></p>
          <p><small>“Default” shows author’s profile.</small></p>
        </form>
      </div>
      <div class="app__inner">
        <div class="profile" v-show="name || position || image.src || details.list || skills.list || skills.summary || weakness.list || url.href">
          <h1 class="profile__name" v-show="name">${ name }</h1>
          <h2 class="profile__position" v-show="position">${ position }</h2>
          <div class="profile__image" v-show="image.src">
            <img :src="image.src" :alt="image.alt">
          </div>
          <ul class="profile__details" v-show="details.list">
            <li v-for="detail in detailsList">${ detail }</li>
          </ul>
          <ul class="profile__skills" v-show="skills.list">
            <li v-for="skill in skillsList">${ skill }</li>
            <li>${ skills.experience }</li>
          </ul>
          <p class="profile__description" v-show="skills.summary">${ skills.summary }</p>
          <div class="profile__weakness" v-show="weakness.list">
            <p>Weakness:</p>
            <ul>
              <li v-for="weakness in weaknessList">${ weakness }</li>
            </ul>
          </div>
          <a class="profile__url" :href="url.href" v-show="url.href">${ url.text }</a>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>&copy; <a href="/">{{ site.author }}</a>, {{ 'now' | date: '%Y'}}</p>
      <details>
        <summary>About</summary>
        <div>
          <p>Dev Cards is a fun project made by Silvestar Bistrović.</p>
          <p>The project was made with Vue.js. This is the first version.</p>
        </div>
      </details>
    </footer>
    <script src="/js/devcards.js"></script>
    <script>
      const mountedApp = window.devcards.mount('#app')
    </script>
    {% include '_assets/analytics' %}
  </body>
</html>
