<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    {% assign articles = collections.my-css %}
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.description }}</description>
    <lastBuildDate>{{ articles[0].data.date | date: '%a, %d %b %Y %H:%M:%S %z' }}</lastBuildDate>
    <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
    <generator>manual</generator>
    <language>en</language>
    <image>
      <title>{{ metadata.title }}</title>
      <url>{{ metadata.image }}</url>
      <link>{{ metadata.url }}</link>
    </image>
    <copyright>All rights reserved, {{ metadata.author.name }}</copyright>
    {% if metadata.tags %}
      {% assign myTags = metadata.tags | tagify %}
      {% for tag in myTags %}
        <category>{{ tag }}</category>
      {% endfor %}
    {% endif %}
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml"/>
    {% assign now = 'now' | date: "%Y-%m-%d" %}
    {% for article in articles %}
    {% unless article.noindex %}
      {% assign checkDate = article.date | date: "%Y-%m-%d" %}
      {% if checkDate <= now %}
        <item>
          <title><![CDATA[{{ article.data.title }}]]></title>
          <link>{{ site.url | append: article.url }}</link>
          <guid>{{ site.url | append: article.url }}</guid>
          <pubDate>{{ article.date | date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>
          <description><![CDATA[{{ article.data.description }}]]></description>
          {% assign myTags2 = article.data.tags | tagify %}
          {% if myTags2 %}
            {% for tag in myTags2 %}
              <category>{{ tag }}</category>
            {% endfor %}
          {% endif %}
          <author>{{ metadata.author.email }} ({{ metadata.author.name }})</author>
          {% if article.data.thumbnail %}
            <enclosure url="{{ article.data.thumbnail | cldnrysrc }}" length="0" type="image/png"/>
          {% endif %}
        </item>
      {% endif %}
    {% endunless %}
    {% endfor %}
  </channel>
</rss>
