{%- assign pageUrl = site.url | append: page.url | url_encode -%}
<section class="article-footer">
  <div class="article-footer__content">
    <p>Share the article:</p>
    <ul>
      <li>
        <a href="{{ pageUrl | social: 'Mastodon' }}">Mastodon</a>
      </li>
      <li>
        <a href="{{ pageUrl | social: 'BlueSky' }}">BlueSky</a>
      </li>
      <li>
        <a href="{{ pageUrl | social: 'LinkedIn' }}">LinkedIn</a>
      </li>
      <li>
        <a href="{{ pageUrl | social: 'Reddit' }}">Reddit</a>
      </li>
      <li>
        <a class="u-url" href="{{ page.url }}">URL</a>
      </li>
    </ul>
  </div>
  {% if series %}
    <div class="article-footer__content">
      {% assign seriesList = collections['my-articles'] | findItem: 'series', series %}
      {% assign seriesListLength = seriesList | size %}
      {% if seriesList and seriesListLength > 1 %}
        <p>Part of “{{ series }}” series:</p>
        <ul>
          {% for seriesItem in seriesList %}
            {% if seriesItem.url != page.url %}
              <li>
                <a href="{{ seriesItem.url }}">{{ seriesItem.data.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
  {% if collections[firstTag] %}
    {% assign collectionSize = collections[firstTag] | size %}
    {% if collectionSize > 1 %}
      <div class="article-footer__content">
        {% if firstTag and data2024[firstTag] %}
          <p>More from {{ data2024[firstTag].title }}:</p>
        {% else %}
          <p>Read more articles:</p>
        {% endif %}
        <ul>
          {% assign related = collections[firstTag] | reverse %}
          {% assign i = 0 %}
          {% if firstTag == 'zoo' %}
            {% assign iLimit = 15 %}
          {% else %}
            {% assign iLimit = 3 %}
          {% endif %}
          {% for article in related %}
            {% unless i >= iLimit %}
              {% if title != article.data.title %}
                <li>
                  <a href="{{ article.url }}">{{ article.data.title }}</a>
                </li>
                {% assign i = i | plus: 1 %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
</section>
