<section class="article-header" id="header">
  <h1 class="p-name">{{ title }}</h1>
  <div class="tags">
    {% if firstTag and data2024[firstTag] %}
      <p>Category: <a href="{{ data2024[firstTag].href }}">{{ data2024[firstTag].title }}</a></p>
    {% endif %}
    {% if tags %}
      {% assign myTags = tags | tagify %}
      {% if myTags != blank %}
        <p>Tagged: {% for tag in myTags %}<a class="p-category" rel="category tag" href="/tags/{{ tag | slug }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
      {% endif %}
    {% endif %}
    {% if canonical and publication %}
      <p>Published in: <a href="{{ canonical }}">{{ publication }}</a></p>
    {% endif %}
    {% unless hideDate %}
      {% if date %}
        <p>Published at: <time class="dt-published" datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%Y-%m-%d' }}</time></p>
      {% endif %}
    {% endunless %}
  </div>
</section>
