{% if header %}
  <header class="header" id="header">
    <a href="#main" class="skip"><span>Skip to content</span></a>
    {% if header2024.logo or header2024.menu %}
      <nav class="header__nav header__nav--alpha" aria-label="Main">
        <ul class="header__list header__list--alpha">
        {% if header2024.logo %}
          <li class="header__item header__item--alpha{% if type == 'home' %} h-card{% endif %}">
            <a{% if type == 'articles-item' %} rel="author"{% endif %} class="header__link header__link--alpha{% if type == 'home' %} u-url{% endif %}{% if type == 'articles-item' %} p-author h-card{% endif %}" href="{{ header2024.logo.href }}">
              {% include '_components/logo.svg' %}
              <span{% if type == 'home' %} class="p-name"{% endif %}>{{ header2024.name }}</span>
            </a>
          </li>
        {% endif %}
        {% if header2024.menu %}
          {% for item in header2024.menu %}
            <li class="header__item">
              <a class="header__link header__link--beta" href="{{ item.href }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </nav>
    {% endif %}
  </header>
  {% if header2024.menu2 %}
    <nav class="header__nav header__nav--beta" aria-label="Other">
      <ul class="header__list header__list--beta">
        {% for item in header2024.menu2 %}
          <li class="header__item">
            <a class="header__link header__link--gamma" href="{{ item.href }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endif %}
