<section class="hero">
  {%- if component.title -%}
    <h1 class="hero__title"{% if component.title_width %} style="--hero-title-width: {{ component.title_width }}ch;"{% endif %}>{{ component.title | markdownifyi }}</h1>
  {%- endif -%}
  {%- if component.text -%}
    <div class="hero__text"{% if component.text_width %} style="--hero-text-width: {{ component.text_width }}ch;"{% endif %}>{{ component.text | markdownify }}</div>
  {%- endif -%}
  {%- if component.text2 -%}
    <div class="hero__text2"{% if component.text2_width %} style="--hero-text2-width: {{ component.text2_width }}ch;"{% endif %}>{{ component.text2 | markdownify }}</div>
  {%- endif -%}
  {%- if component.cta -%}
    <div class="hero__action">
      {%- include '_includes/_components/cta', cta: component.cta -%}
    </div>
  {%- endif -%}
  {%- if component.img -%}
    <div class="hero__image"{% if component.img.clamp or component.img.bg %} style="{% if component.img.clamp %}--max-inline-size: {{ component.img.clamp }};{% endif %}{% if component.img.bg %}--hero-bg: url({{ component.img.bg }});{% endif %}"{% endif %}>
      {% assign heroWidth2x = component.img.width | times: 2 %}
      {% assign heroWidths = component.img.width | append: ',' | append: heroWidth2x | split: ',' %}
      {%- cldnryfetch component.img.src component.img.alt heroWidths false -%}
    </div>
  {%- endif -%}
  {%- if component.gfx -%}
    {% assign gfxPath = '_components/' | append: component.gfx.name | append: '.svg' | downcase  %}
    <div class="hero__image"{% if component.gfx.clamp %} style="--max-inline-size: {{ component.gfx.clamp }}"{% endif %}>
      {% include gfxPath %}
    </div>
  {%- endif -%}
</section>
