{%- liquid
  assign list = collections[tag] | sort: 'data.tags'
  assign listSize = list | size
-%}

{% if list %}
  <section class="box">
    <h1 class="box__title">Tagged “{{ tag }}”</h1>
    <ul class="box__list">
      {% for tagItem in list %}
        <li class="box__item">
          {%- if tagItem.data.title and tagItem.url -%}
            <h2 class="box__subtitle"><a href="{{ tagItem.url }}">{{ tagItem.data.title }}</a></h2>
          {%- endif -%}
          <div class="box__tags">
            {%- if cardDate -%}
              <time class="box__tag" datetime="{{ cardDate }}">{{ cardDate }}</time>
            {%- endif -%}
            {%- if tagItem.data.publication -%}
              <span class="box__tag box__tag--alpha">{{ tagItem.data.publication }}</span>
            {%- endif -%}
            {%- if tagItem.data.tags -%}
              {%- for dataTag in tagItem.data.tags -%}
                <a href="/tags/{{ dataTag | slug }}/" class="fancy-hover box__tag box__tag--beta{% if dataTag == tag %} box__tag--omega{% endif %}">{{ dataTag }}</a>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
    {%- if component.cta -%}
      <div class="box__action">
        {%- include '_includes/_components/cta', cta: component.cta -%}
      </div>
    {%- endif -%}
  </section>
{% endif %}
