if (page && page.posts)
  if (page && page.category)
    - var title = page.category;
  else if (page && isTag())
    - var title = "Tag: " + page.tag;
  else if (isArchive())
    if (page && page.year)
      - var title = page.year + (page.month ? '/' + page.month : '');
    else
      - var title = "Archives";
  if (title && page && (isArchive() || isTag() || isCategory()))
    h1.articles__title= title
  .articles
    each vpost, kpost in page.posts.toArray()
      if (kpost === 3)
        .article.article--cta
          include cta2
      if (kpost % 3 === 0 && kpost >= page.posts.length - 3)
        .article.article--cta
          include cta1
      .block__item.card.card--alpha
        if (vpost.thumbnail)
          .card__image
            a(href=urlFor(vpost.path))
              +cldnry(vpost.thumbnail, "Headshot of myself, Silvestar Bistrović.")
        .card__content
          if (vpost.date)
            ul.card__list.card__list--beta.card__details
              //- li.card__detail Silvestar Bistrović
              li.card__detail= vpost.date.format(config.date_format)
          if vpost.title
            h3.h4.card__title
              a(href=urlFor(vpost.path))= vpost.title
          if (vpost && vpost.description)
            .card__description!= vpost.description
          if (vpost.tags)
            ul.card__list.card__list--alpha.card__tags
              each tag in vpost.tags.toArray()
                li
                  a.card__tag(href=urlFor(tag.path))= tag.name
          .card__action
            a(href=urlFor(vpost.path)) Read more ⇢

if (page && (page.prev || page.next))
  nav.metadata
    ul.list
      if (page && page.prev)
        li.list__item
          a.list__link.list__link--prev(href=urlFor(page.prev_link)) Previous
      if (page && page.next)
        li.list__item
          a.list__link.list__link--next(href=urlFor(page.next_link)) Next
