if (page && page.title)
  if (isPost())
    h1.article__title.article__title--beta= page.title
  else
    h1.article__title.article__title--gamma= page.title
.article
  if (page && page.thumbnail)
    .article__thumb
      +cldnry(page.thumbnail, "Cover photo for " + page.title + " page")
      if(page.credit && page.credit.text && page.credit.link)
        p.article__credit
          span="Photo credit: "
          a(href=page.credit.link)=page.credit.text
  if (isPost())
    .post-cta
      include cta1
  if (page && page.profile)
    .profile__image.profile__image--alpha
      +cldnry(page.profile, page.title)

  if (page && page.layout == "post")
    .details
      if (page && (page.date || page.tags))
        ul.list.list--delta.list--epsilon
          if (page.date)
            li.list__item.list__item--alpha
              span.list__text= page.date.format(config.date_format)
          if (page.tags)
            - page.tags.each(function(tag){
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=urlFor(tag.path))= tag.name
            - });
          if (page.tags.length > 1)
            li.list__br
          if (theme && theme.widgets && theme.widgets.sharing)
            if (theme.widgets.sharing.twitter)
              - var twitterLink = "https://twitter.com/intent/tweet?url=" + page.permalink + "&text=" + page.title + "&via=" + theme.widgets.sharing.twitter;
              li.list__item.list__item--alpha.list__item--gamma
                a.list__link(href=twitterLink, target="_blank") Twitter
            if (theme.widgets.sharing.facebook)
              - var facebookLink = "https://facebook.com/sharer.php?u=" + page.permalink;
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=facebookLink, target="_blank") Facebook
            if (theme.widgets.sharing.reddit)
              - var redditLink = "https://www.reddit.com/submit?url=" + page.permalink + "&title=" + page.title;
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=redditLink, target="_blank") Reddit
      if (page && page.project)
        p.project
          span= "Project: "
          a(href=page.project.href, target="_blank")= page.project.name
          span= " 👀"

  if (page && page.portfolio && page.tags)
    ul.poster__list.poster__tags
      each tag in page.tags
        li.poster__tag= tag

  if (page && page.content)
    .content
      div!= page.content
      if (page && page.form && page.form == 'contact')
        include _forms/contact
      if (page && page.form && page.form == 'mentoring')
        include _forms/mentoring

  if (page && page.card)
    include _redesign/profile-solo

  if (page && page.quotes)
    h2.article__testimonials= "Testimonials"
    .block__grid
      each quote in page.quotes
        .block__item.quote
          p.quote__person
            span= quote.person
            if (quote.position && quote.project && quote.project.name)
              span= ", " + quote.position + " @ "
              a(href=page.path)= quote.project.name
            span= " said:"
          blockquote.quote__text
            each paragraph in quote.paragraphs
              p= paragraph
          if (quote.person)
          if (page && page.logo)
            .quote__details
              .quote__logo
                +cldnry(page.logo, "Logo of " + page.title + " company.")

  if (page && page.testimonials)
    include _redesign/testimonials-all

  if (isPost())
    .metadata
      .metadata__content
        if (theme && theme.widgets && theme.widgets.sharing)
          h3 Share:
          ul.list
            if (theme.widgets.sharing.twitter)
              li.list__item
                a.list__link(href=twitterLink, target="_blank") Share on Twitter
            if (theme.widgets.sharing.facebook)
              li.list__item
                a.list__link(href=facebookLink, target="_blank") Share on Facebook
            if (theme.widgets.sharing.reddit)
              li.list__item
                a.list__link(href=redditLink, target="_blank") Share on Reddit
        if (page && (page.prev || page.next))
          nav.pagination
            h3 More articles:
            ul.list
              if (page && page.next)
                li.list__item
                  - var nextTitle = page.next.title ? page.next.title: "Previous";
                  a.list__link(href=urlFor(page.next.path), rel="prev")= nextTitle
              if (page && page.prev)
                li.list__item
                  - var prevTitle = page.prev.title ? page.prev.title: "Next";
                  a.list__link(href=urlFor(page.prev.path), rel="next")= prevTitle
      .metadata__content
        if (theme && theme.widgets && theme.widgets.about)
          include _widgets/about

  if (isPost())
    .post-cta
      include _widgets/coffee
      include cta2

  if (page && page.signature)
    include _redesign/signature

  if (page && page.layout == "post" && theme && theme.widgets && theme.widgets.disqus)
    include _widgets/comments

