if (page && page.title)
  if (isPost())
    h1.article__title.article__title--beta= page.title
  else
    h1.article__title.article__title--gamma= page.title
.article
  if (page && page.thumbnail)
    if (page && page.retina)
      - var article_img_wide2x = page.thumbnail.replace('upload/', 'upload/f_auto,q_99,w_1920/');
      - var article_img_wide = page.thumbnail.replace('upload/', 'upload/f_auto,q_99,w_960/');
      - var article_img_mobile = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_717/');
      - var article_img_tamagochi = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_270/');
      - var article_img_srcset = article_img_tamagochi + " 270w, " + article_img_mobile + " 717w, " + article_img_wide + " 960w, " + article_img_wide2x + " 1920w";
      .article__thumb
        img(src=article_img_wide, alt=page.title, srcset=article_img_srcset sizes="(max-width: 320px) 270px, (min-width: 321px) and (max-width: 767px) 717px, (min-width: 768px) 960px")
    else
      - var article_img_wide = page.thumbnail.replace('upload/', 'upload/f_auto,q_99,w_960/');
      - var article_img_mobile = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_717/');
      - var article_img_tamagochi = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_270/');
      - var article_img_srcset = article_img_tamagochi + " 270w, " + article_img_mobile + " 717w, " + article_img_wide + " 960w";
      .article__thumb
        img(src=article_img_wide, alt=page.title, srcset=article_img_srcset sizes="(max-width: 320px) 270px, (min-width: 321px) and (max-width: 767px) 717px, (min-width: 768px) 960px")
    if (isPost())
      .post-banner
        include banner1
  if (page && page.profile)
    - var article_img_wide = page.profile.replace('upload/', 'upload/f_auto,q_auto,w_240/');
    - var article_img_mobile = page.profile.replace('upload/', 'upload/f_auto,q_auto,w_120/');
    - var article_img_srcset = article_img_mobile + " 120w, " + article_img_wide + " 240w";
    .profile
      img(src=article_img_wide, alt=page.title, srcset=article_img_srcset sizes="(max-width: 240px) 120px, (min-width: 321px) 240px")

  if (page && page.layout == "post")
    .details
      if (page && (page.date || page.tags))
        ul.list.list--delta.list--epsilon
          if (page.date)
            li.list__item.list__item--alpha
              span.list__text= page.date.format(config.date_format)
          if (page.tags)
            - page.tags.each(function(tag){
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=urlFor(tag.path))= tag.name
            - });
          if (page.tags.length > 1)
            li.list__br
          if (theme && theme.widgets && theme.widgets.sharing)
            if (theme.widgets.sharing.twitter)
              - var twitterLink = "https://twitter.com/intent/tweet?url=" + page.permalink + "&text=" + page.title + "&via=" + theme.widgets.sharing.twitter;
              li.list__item.list__item--alpha.list__item--gamma
                a.list__link(href=twitterLink, target="_blank") Twitter
            if (theme.widgets.sharing.facebook)
              - var facebookLink = "https://facebook.com/sharer.php?u=" + page.permalink;
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=facebookLink, target="_blank") Facebook
            if (theme.widgets.sharing.reddit)
              - var redditLink = "https://www.reddit.com/submit?url=" + page.permalink + "&title=" + page.title;
              li.list__item.list__item--alpha.list__item--delta
                a.list__link(href=redditLink, target="_blank") Reddit

  if (page && page.content)
    .content!= page.content

  if (isPost())
    .metadata
      .metadata__content
        if (theme && theme.widgets && theme.widgets.sharing)
          h4 Share:
          ul.list
            if (theme.widgets.sharing.twitter)
              li.list__item
                a.list__link(href=twitterLink, target="_blank") Share on Twitter
            if (theme.widgets.sharing.facebook)
              li.list__item
                a.list__link(href=facebookLink, target="_blank") Share on Facebook
            if (theme.widgets.sharing.reddit)
              li.list__item
                a.list__link(href=redditLink, target="_blank") Share on Reddit
        if (page && (page.prev || page.next))
          nav.pagination
            h4 More articles:
            ul.list
              if (page && page.next)
                li.list__item
                  - var nextTitle = page.next.title ? page.next.title: "Previous";
                  a.list__link(href=urlFor(page.next.path), rel="prev")= nextTitle
              if (page && page.prev)
                li.list__item
                  - var prevTitle = page.prev.title ? page.prev.title: "Next";
                  a.list__link(href=urlFor(page.prev.path), rel="next")= prevTitle
      .metadata__content
        if (theme && theme.widgets && theme.widgets.about)
          include widgets/about

  if (isPost())
    .post-banner
      include banner2

  if (page && page.layout == "post" && theme && theme.widgets && theme.widgets.disqus)
    include widgets/comments

