.banner.banner--beta
  p
    if (page && page.banner2 && page.banner2.span)
      span= page.banner2.span
    else if (theme && theme.banner2 && theme.banner2.span)
      span= theme.banner2.span
    else
      span= "I would like to hear more about your new project. Let's start communication."

  if (page && page.banner2 && page.banner2.link)
    - var b2link = page.banner2.link;
  else if (theme && theme.banner2 && theme.banner2.link)
    - var b2link = theme.banner2.link;
  else
    - var b2link = "/contact/";

  a.btn(href=b2link)
    if (page && page.banner2 && page.banner2.btn1)
      span= page.banner2.btn1
      if (page && page.banner2 && page.banner2.btn2)
        span= page.banner2.btn2
    else if (theme && theme.banner2 && theme.banner2.btn1)
      span= theme.banner2.btn1
      if (theme && theme.banner2 && theme.banner2.btn2)
        span= theme.banner2.btn2
    else
      span= "Contact me"
      span= "2020 Q3-Q4"
