.cta.cta--alpha
  .cta__content
    p
      if (page && page.cta1 && page.cta1.span)
        span= page.cta1.span
      else if (theme && theme.cta1 && theme.cta1.span)
        span= theme.cta1.span
      else
        span= "Do you need a new website? I am available for new projects."

  if (page && page.cta1 && page.cta1.link)
    - var b1link = page.cta1.link;
  else if (theme && theme.cta1 && theme.cta1.link)
    - var b1link = theme.cta1.link;
  else
    - var b1link = "/contact/";

  a.btn(href=b1link)
    if (page && page.cta1 && page.cta1.btn1)
      span= page.cta1.btn1
      if (page && page.cta1 && page.cta1.btn2)
        span= page.cta1.btn2
    else if (theme && theme.cta1 && theme.cta1.btn1)
      span= theme.cta1.btn1
      if (theme && theme.cta1 && theme.cta1.btn2)
        span= theme.cta1.btn2
    else
      span= "Get in touch ⇢"
      span= "Open 2020 Q4"
