.cta.cta--beta
  .cta__content
    p
      if (page && page.cta2 && page.cta2.span)
        span= page.cta2.span
      else if (theme && theme.cta2 && theme.cta2.span)
        span= theme.cta2.span
      else
        span= "I would like to hear more about your new project. Let's start communication."

  if (page && page.cta2 && page.cta2.link)
    - var b2link = page.cta2.link;
  else if (theme && theme.cta2 && theme.cta2.link)
    - var b2link = theme.cta2.link;
  else
    - var b2link = "/contact/";

  a.btn(href=b2link)
    if (page && page.cta2 && page.cta2.btn1)
      span= page.cta2.btn1
      if (page && page.cta2 && page.cta2.btn2)
        span= page.cta2.btn2
    else if (theme && theme.cta2 && theme.cta2.btn1)
      span= theme.cta2.btn1
      if (theme && theme.cta2 && theme.cta2.btn2)
        span= theme.cta2.btn2
    else
      span= "Contact me"
      span= "Open 2020 Q4"
