footer.lg-gamma-50.lg-fat.inside-2
  nav.wrapper.wrapper-bp2
    ul.df-center.list-reset
      if (site.data.menu.secondary)
        each link in site.data.menu.secondary
          if link.src
            li.df-center.outside-x-a.inside-x-2
              a.rm.circle(href=link.href)
                img(src=link.src alt=link.alt width="100" height="100")
          else
            li.outside-x-a
              ul.df-center.list-reset
                li
                  ul.df-col.list-reset
                    li.outside-x-2.fz-step-0
                      a.fw-bold.inside-y-1(href=link.href)=link.title
                    if (link.list)
                      each sublink in link.list
                        li.outside-x-2.fz-step--1
                          a.fw-bold.inside-y-1(href=sublink.href)=sublink.title
