if (page && page.grid && page.grid.list)
  ul.list.list--alpha
    each item, i in page.grid.list
      if (i === 2)
        li.list__item.list__item--banner
          include banner1
      if (i % 2 === 0 && i >= page.grid.list.length - 3)
        li.list__item.list__item--banner
          include banner2
      if (item && item.src)
        - var home_img_retina = item.src.replace('upload/', 'upload/f_auto,q_auto,w_1050/');
        - var home_img_wide = item.src.replace('upload/', 'upload/f_auto,q_auto,w_575/');
        - var home_img_desktop = item.src.replace('upload/', 'upload/f_auto,q_auto,w_440/');
        - var home_img_mobile = item.src.replace('upload/', 'upload/f_auto,q_auto,w_717/');
        - var home_img_tamagochi = item.src.replace('upload/', 'upload/f_auto,q_auto,w_270/');
        - var home_img_srcset = home_img_tamagochi + " 270w, " + home_img_mobile + " 717w, " + home_img_desktop + " 440w, " + home_img_wide + " 575w, " + home_img_retina + " 1050";
        li.list__item
          a.list__link(href=urlFor(item.href))
            if (item && item.title)
              h4= item.title
            img(src=home_img_wide, alt=item.title, srcset=home_img_srcset, sizes="(max-width: 399px) 270px, (max-width: 400px) and (max-width: 767px) 717px, (min-width: 768px) and (max-width: 980px) 440px, 1200px")
            if (item && item.description)
              p= item.description
            p
              span= "View more"
