.home
  if (theme && theme.home_page)
    each section, i in theme.home_page
      if (i === 1)
        .home__box.home__box--banner1
          include banner1
      if (i === theme.home_page.length - 1)
        .home__box.home__box--banner2
          include banner2
      - var home_class = (section.position) ? " home__box--" + section.position : "";
      div(class="home__box" + home_class)
        if (section.title)
          if (section.position && section.position === "alpha")
            h1(id=section.id)= section.title
          else
            h2(id=section.id)= section.title
        if (section.paragraphs)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each p in section.paragraphs
              li.list__item
                p= p
        if (section.headings)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each h2 in section.headings
              li.list__item
                h2.list__headline= h2
        if (section.profile)
          - var article_img_retina = section.profile.replace('upload/', 'upload/f_auto,q_auto,w_480/');
          - var article_img_wide = section.profile.replace('upload/', 'upload/f_auto,q_auto,w_240/');
          - var article_img_mobile = section.profile.replace('upload/', 'upload/f_auto,q_auto,w_120/');
          - var article_img_srcset = article_img_mobile + " 120w, " + article_img_wide + " 240w, " + article_img_retina + " 480w";
          .profile
            img(src=article_img_wide, alt=section.profilealt, srcset=article_img_srcset sizes="(max-width: 240px) 120px, (min-width: 321px) 240px")
        if (section.quotes)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each quote in section.quotes
              li.list__item
                a.list__link(href=urlFor(quote.project.link))
                  blockquote
                    each paragraph in quote.paragraphs
                      p= paragraph
                    h3= quote.person
                    h3= quote.position + " @ " + quote.project.name
                    span= " View project →"
        if (section.images)
          ul.list.list--alpha
            each section_image in section.images
              - var home_img_retina = section_image.src.replace('upload/', 'upload/f_auto,q_99,w_1050/');
              - var home_img_wide = section_image.src.replace('upload/', 'upload/f_auto,q_99,w_575/');
              - var home_img_desktop = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_525/');
              - var home_img_mobile = section_image.src.replace('upload/', 'upload/f_auto,q_99,w_717/');
              - var home_img_tamagochi = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_270/');
              - var home_img_srcset = home_img_tamagochi + " 270w, " + home_img_mobile + " 717w, " + home_img_desktop + " 525w, " + home_img_wide + " 575w, " + home_img_retina + " 1050w";
              li.list__item
                a.list__link(href=urlFor(section_image.href))
                  img(src=home_img_wide, alt=section_image.alt, srcset=home_img_srcset, sizes="(max-width: 320px) 270px, (min-width: 321px) and (max-width: 767px) 717px, (min-width: 768px) and (max-width: 1199px) 525px, (min-width: 1200px) 575px")
                  h3= section_image.title
        if (section.links)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each lhref, ltext in section.links
              li.list__item
                if (lhref.indexOf('//') !== -1)
                  a.list__link(href=urlFor(lhref), target="_blank")= ltext
                else
                  a.list__link(href=urlFor(lhref))= ltext
  else
    include article-list
