{% if footer2024 %}
  <footer class="footer" id="footer">
    <div class="footer__inner">
      <div class="footer__content">
        {% if site.author %}
          <p><span>&copy;</span> {{ site.author }} {{ site.established }}–{{ 'now' | date: '%Y'}}</p>
        {% endif %}
        {% if footer2024.github %}
          <p>{{ footer2024.github.text }} <a href="{{ footer2024.github.href }}">{{ footer2024.github.name }}</a>.</p>
        {% endif %}
        <p class="js-page-loaded-in">Page loaded in 0.001s.</p>
      </div>
      {% if footer2024.logo %}
        <a class="footer__logo" href="{{ footer2024.logo.href }}">
          {% cldnry footer2024.logo.src footer2024.logo.alt footer2024.logo.width footer2024.logo.height true %}
        </a>
      {% endif %}
    </div>
    {% if footer2024.social %}
      <ul class="footer__social">
        {% for social in footer2024.social %}
          <li>
            <a href="{{ social.href }}"{% if social.rel %} rel="{{ social.rel }}"{% endif %}>
              {% assign iconPath = '_partials/_components/_icons/' | append: social.title | append: '.svg' | downcase  %}
              {% include {{ iconPath }} %}
              <span class="sr-only">{{ social.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </footer>
{% endif %}
