<section class="hero hero--testimonial">
  {%- if component.avatar -%}
    <span class="hero__avatar">
      {% cldnry component.avatar.src component.avatar.alt component.avatar.width component.avatar.height %}
    </span>
  {%- endif -%}
  <div class="hero__content">
    {%- if component.title -%}
      <h1 class="hero__title"{% if component.title_width %} style="--hero-title-width: {{ component.title_width }}ch;"{% endif %}>{{ component.title | markdownifyi }}</h1>
    {%- endif -%}
    {%- if component.text -%}
      <div class="hero__text"{% if component.text_width %} style="--hero-text-width: {{ component.text_width }}ch;"{% endif %}>{{ component.text | markdownify }}</div>
    {%- endif -%}
    {%- if component.text2 -%}
      <div class="hero__text2"{% if component.text2_width %} style="--hero-text2-width: {{ component.text2_width }}ch;"{% endif %}>{{ component.text2 | markdownify }}</div>
    {%- endif -%}
    {%- if component.cta -%}
      <div class="hero__action">
        {%- include _partials/_components/cta cta: component.cta -%}
      </div>
    {%- endif -%}
    {%- if component.img -%}
      <div class="hero__image">
        {%- cldnry component.img.src component.img.alt component.img.width component.img.height true -%}
      </div>
    {%- endif -%}
  </div>
</section>
