{% assign readIndex = 1 %}
{% assign j = 1 %}
{% for findRead in reads %}{% if findRead == thisRead %}{% assign readIndex = forloop.index %}{% endif %}{% endfor %}
{% if thisRead %}
  <section class="hero margin-top-beta">
    <div class="wrapper">
      <div class="padding">
        <div class="margin-bottom text-center">
          {% if thisRead.date %}
            <time class="button button--invisible button--small" datetime="{{ thisRead.date | date: '%Y-%m-%d' }}"><span class="fz-step--2">{{ thisRead.date | date: '%Y-%m-%d' }}</span></time>
          {% endif %}
        </div>
        {% if title %}
          <h1 class="ffss no-margin-top margin-bottom text-center">
            <span class="db fz-step-2 fw-bold">{{ newsletter.title }}</span>
            <span class="db fz-step-5 fw-bolder">{{ title }}</span>
          </h1>
        {% endif %}
        {% if thisRead.description %}
          <p class="fz-step-0 no-margin-top margin-bottom text-center"><b>In this issue:</b> {{ thisRead.description }}</p>
        {% endif %}
        <div class="copy margin-top-beta">
          <ul class="list-style-none">
            {% for resource in thisRead.list %}
              {% if resource.link %}
                <li>
                  <a class="note tdn" href="{{ resource.link }}" rel="noopener" data-title="Link">
                    {% if resource.title %}
                      <p class="fz-step-1 fw-bolder fs-normal ffss no-margin">{% if resource.title %}{{ resource.title }}{% else %}{{ resource.link }}{% endif %}</p>
                    {% endif %}
                    {% if resource.desc %}
                      <p class="fz-step-0 fs-normal ffss margin-top no-margin-bottom">{{ resource.desc }}</p>
                    {% endif %}
                  </a>
                </li>
                {% if j == 1 and thisRead.topAd %}
                  <li>
                    <a class="note tdn" href="{{ thisRead.topAd.link }}" rel="noopener" data-title="Sponsor">
                      {% if thisRead.topAd.title %}
                        <p class="fz-step-1 fw-bolder fs-normal ffss no-margin">{% if thisRead.topAd.title %}{{ thisRead.topAd.title }}{% else %}{{ thisRead.topAd.link }}{% endif %}</p>
                      {% endif %}
                      {% if thisRead.topAd.desc %}
                        <p class="fz-step-0 fs-normal ffss margin-top no-margin-bottom">{{ thisRead.topAd.desc }}</p>
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
                {% assign j = j | plus: 1 %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}
