mixin inlineSvg(file)
  if (file.indexOf('.svg') != -1)
    if (inline_svg)
      !=inline_svg(file)
  else
    img(src=file, alt="Inline image")

mixin cldnry(imgName, imgAlt, imgPlaceholder)
  if (site && site.data && site.data.cldnry && site.data.cldnry.cloud_name)
    - var placeholder = imgPlaceholder || "https://res.cloudinary.com/starbist/image/upload/v1582948215/placeholder_jm8ua7.svg"
    //- - var placeholder = imgPlaceholder || "data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAQAAABeK7cBAAAAC0lEQVR42mNkAAIAAAoAAv/lxKUAAAAASUVORK5CYII="
    img(class="cld-responsive"
      data-src="https://res.cloudinary.com/" + site.data.cldnry.cloud_name + "/image/upload/w_auto,f_auto,q_auto,dpr_auto,c_scale/" + imgName
      src=placeholder
      alt=imgAlt
      sizes="100vw")

- var urlFor = (link) => (url_for) ? url_for(link) : link

- var isHome = () => (is_home) ? is_home() : false

- var isCategory = () => (is_category) ? is_category() : false

- var isPortfolio = (page) => page.path.indexOf('portfolio') !== -1

- var isSideProject = (page) => page.path.indexOf('side-projects') !== -1

- var isPortfolioPost = (page) => page.portfolio === true

- var isContact = (page) => page.contact === true

- var isMentoring = (page) => page.mentoring === true

- var isArchive = () => (is_archive) ? is_archive() : false

- var isTag = () => (is_tag) ? is_tag() : false

- var isPost = () => (is_post) ? is_post() : false

- var getPage = (link) => link.split("/")[0]
