if (page && page.posts)
  if (page && page.category)
    - var title = "Category: " + page.category;
  else if (page && isTag())
    - var title = "Tag: " + page.tag;
  else if (isArchive())
    if (page && page.year)
      - var title = page.year + (page.month ? '/' + page.month : '');
    else
      - var title = "Archives";
  if (title && page && (isArchive() || isTag()))
    h1.articles__title= title
  .articles
    each vpost, kpost in page.posts.toArray()
      article.article
        if (vpost && vpost.path && vpost.title)
          h2.article__title.article__title--alpha
            a.link(href=urlFor(vpost.path))= vpost.title
        if (vpost && vpost.thumbnail)
          - var articles_img_wide = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_608/');
          - var articles_img_desktop = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_550/');
          - var articles_img_mobile = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_640/');
          - var articles_img_tamagochi = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_270/');
          - var articles_img_srcset = articles_img_tamagochi + " 270w, " + articles_img_mobile + " 640w, " + articles_img_desktop + " 550w, " + articles_img_wide + " 608w";
          a.article__thumb(href=urlFor(vpost.path))
            img(src=articles_img_wide, alt=vpost.title, srcset=articles_img_srcset sizes="(max-width: 320px) 270px, (min-width: 321px) and (max-width: 767px) 640px, (min-width: 768px) and (max-width: 1199px) 550px, (min-width: 1200px) 608px")
        if (vpost && vpost.layout == "post")
          .details
            if (vpost && (vpost.date || vpost.tags))
              ul.list.list--delta
                if (vpost.date)
                  li.list__item.list__item--alpha.list__item--beta
                    span.list__text= vpost.date.format(config.date_format)
                if (vpost.tags)
                  - vpost.tags.each(function(tag){
                    li.list__item.list__item--alpha.list__item--delta
                      a.list__link(href=urlFor(tag.path))= tag.name
                  - });
        if (vpost && vpost.excerpt)
          .content!= vpost.excerpt

        if (vpost && vpost.path)
          p
            a(href=urlFor(vpost.path)) Read more

if (page && (page.prev || page.next))
  nav.meta
    ul.list
      if (page && page.prev)
        li.list__item
          a.list__link.list__link--prev(href=urlFor(page.prev_link)) Previous
      if (page && page.next)
        li.list__item
          a.list__link.list__link--next(href=urlFor(page.next_link)) Next
