.home
  if (theme && theme.home_page)
    each section, i in theme.home_page
      if (i === 1)
        .home__box.home__box--banner1
          include banner1
      if (i === theme.home_page.length - 1)
        .home__box.home__box--banner2
          include banner2
      - var home_class = (section.position) ? " home__box--" + section.position : "";
      div(class="home__box" + home_class)
        if (section.title)
          if (section.position && section.position === "alpha")
            h1= section.title
          else
            h2= section.title
        if (section.paragraphs)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each p in section.paragraphs
              li.list__item
                p= p
        if (section.headings)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each h5 in section.headings
              li.list__item
                h5= h5
        if (section.quotes)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each quote in section.quotes
              li.list__item
                blockquote
                  p= quote.text
                  h5= "➡ " + quote.person
                  h6
                    span= quote.position
                    span= " @ "
                    a.list__link(href=urlFor(quote.project.link))= quote.project.name
        if (section.images)
          ul.list.list--alpha
            each section_image in section.images
              - var home_img_wide = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_575/');
              - var home_img_desktop = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_525/');
              - var home_img_mobile = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_717/');
              - var home_img_tamagochi = section_image.src.replace('upload/', 'upload/f_auto,q_auto,w_270/');
              - var home_img_srcset = home_img_tamagochi + " 270w, " + home_img_mobile + " 717w, " + home_img_desktop + " 525w, " + home_img_wide + " 575w";
              li.list__item
                a.list__link(href=urlFor(section_image.href))
                  img(src=home_img_wide, alt=section_image.title, srcset=home_img_srcset, sizes="(max-width: 320px) 270px, (min-width: 321px) and (max-width: 767px) 717px, (min-width: 768px) and (max-width: 1199px) 525px, (min-width: 1200px) 575px")
                  h5= section_image.title
        if (section.links)
          - var list_class = (section.list_class) ? " list--" + section.list_class : "";
          ul(class="list" + list_class)
            each lhref, ltext in section.links
              li.list__item
                a.list__link(href=urlFor(lhref))= ltext
  else
    include article-list
