if (theme && theme.portfolio && theme.portfolio.items)
  .sidebar
    .sidebar__inner
      if (theme.portfolio.title)
        h2.sidebar__title= theme.portfolio.title
        ul.list.list--beta
          each kitem, vitem in theme.portfolio.items
            li.list__item
              - var link_class = (page.permalink.indexOf(kitem) !== -1) ? " list__link--current" : "";
              if (kitem == "/" && theme && theme.site.logo)
                a(href=kitem, class="list__link list__link--logo " + link_class)
                  img(src=theme.site.logo, alt=vcontact)
              else
                a(href=kitem, class="list__link" + link_class)= vitem
