if (site && site.pages)
  - var projectPages = site.pages.toArray().filter(page => page.side && page.display)
  - projectPages.sort((a, b) => (a.order > b.order) ? 1 : -1)
  .block__grid.block__grid--beta.block__grid--gamma
    each vpage, kpage in projectPages
      if (kpage === 2)
        .block__cta
          include ../cta2
      if (kpage % 2 === 0 && kpage > 4 && kpage >= projectPages.length - 2)
        .block__cta
          include ../cta1
      .block__item.poster
        if (vpage.thumbnail)
          .poster__image
            a(href=urlFor(vpage.path))
              +cldnry(vpage.thumbnail, "Screenshot of " + vpage.title + " website.")
        .poster__content
          if vpage.title
            h3.poster__title
              a(href=urlFor(vpage.path))= vpage.title
          if (vpage.description)
            p.poster__description= vpage.description
          if (vpage.tags)
            ul.poster__list.poster__tags
              each tag in vpage.tags
                li.poster__tag= tag
          .poster__action
            a(href=urlFor(vpage.path)) View Project ⇢
