if (site && site.pages)
  - var testimonialPages = site.pages.toArray().filter(page => page.portfolio && page.quotes)
  - testimonialPages.sort((a, b) => (a.order > b.order) ? 1 : -1)
  .block__grid
    each vpage, kpage in testimonialPages
      each vquote, kquote in vpage.quotes
        if (vquote.highlighted)
          .block__item.quote
            p.quote__person
              span= vquote.person
              if (vquote.position && vquote.project && vquote.project.name)
                span= ", " + vquote.position + " @ "
                a(href=vpage.path)= vquote.project.name
              span= " said:"
            blockquote.quote__text
              each paragraph in vquote.paragraphs
                p= paragraph
            if (vquote.person)
            if (vpage && vpage.logo)
              .quote__details
                a.quote__link(href=urlFor(vpage.path)) View project ⇢
                a.quote__logo(href=urlFor(vpage.path))
                  +cldnry(vpage.logo, "Logo of " + vpage.title + " company.")
