<section class="banner margin-top-alpha margin-bottom-alpha"{% if banner2.id %} id="{{ banner2.id }}"{% endif %}>
  <div class="wrapper margin-top margin-bottom text-center">
    <div class="padding">
      <div class="border-alpha brad padding">
        <div class="padding margin-top margin-bottom">
          {% if banner2.banner and cta[banner2.banner] %}
            {% assign banner2 = cta[banner2.banner] %}
          {% endif %}
          {% if banner2.desc %}
            <div class="copy">{{ banner2.desc | markdownify }}</div>
          {% endif %}
          {% if banner2.code %}
            {{ banner2.code }}
          {% endif %}
          {% if banner2.cta %}
            <div class="margin-top">
              <a class="button button--small" href="{{ banner2.cta.href }}">{{ banner2.cta.title }}</a>
            </div>
          {% endif %}
          {% if banner2.ctas %}
            <div class="margin-top">
              {% for cta in banner2.ctas %}
                <a class="button button--small" href="{{ cta.href }}">{{ cta.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
