{% assign card1List = collections[cards1.filter] %}
{% assign i1 = 1 %}

{% if card1List %}
  <section id="{{ cards1.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper wrapper--alpha grid padding">
      {% for card1 in card1List %}
        {% assign now = 'now' | date: "%Y-%m-%d" %}
        {% assign card1Date = card1.data.date | date: "%Y-%m-%d" %}
        {% if card1Date > now %}
          {% continue %}
        {% endif %}
        {% if cards1.limit and i1 > cards1.limit %}
          {% break %}
        {% endif %}
        {% if cards1.exclude %}
          {% assign tags = card1.data.tags | join: ', ' %}
          {% if tags contains cards1.exclude %}
            {% continue %}
          {% endif %}
        {% endif %}
        {% unless cards1.exclude == 'title' and title == card1.data.title %}
          <a class="card card--flex tilt text-center bg-lightish padding" href="{{ card1.url }}">
            <div class="tilt__inner padding">
              {% if card1.data.title %}
                <h3 class="{% if cards1.filter == 'my-css' %}ffm fz-step-1 margin-top {% else %}fz-step-3 no-margin-top {% endif %}no-margin-bottom margin-left margin-right">{{ card1.data.title }}</h3>
              {% endif %}
              <div class="margin-left margin-right{% if cards1.noDate %} margin-top{% endif %}{% unless cards1.filter == 'my-css' %} margin-bottom{% endunless %}">
                {% if card1.data.publication or card1Date %}
                  <div{% if card1.data.publication %} class="margin-top margin-bottom"{% endif %}>
                    {% if card1.data.publication %}
                      <span class="button button--small">{{ card1.data.publication }}</span>
                    {% endif %}
                    {% if card1Date and cards1.noDate != true %}
                      <time class="button button--invisible button--small" datetime="{{ card1Date }}">{{ card1Date }}</time>
                    {% endif %}
                  </div>
                {% endif %}
                {% if cards1.noDesc != true %}
                  <div class="copy">{{ card1.data.description }}</div>
                {% endif %}
              </div>
            </div>
          </a>
        {% endunless %}
        {% assign i1 = i1 | plus: 1 %}
      {% endfor %}
      {% if cards1.desc %}
        <div class="card card--flex text-center padding">
          <div class="margin-auto">
            <div class="copy">{{ cards1.desc | markdownify }}</div>
            {% if cards1.cta2 %}
              <div class="margin-top">
                <a class="button" href="{{ cards1.cta2.href }}">{{ cards1.cta2.title }}</a>
              </div>
            {% endif %}
            {% if cards1.cta3 %}
              <div class="margin-top">
                <a class="tdu" href="{{ cards1.cta3.href }}">{{ cards1.cta3.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
