{% if footer %}
  <footer class="text-center padding">
    {% if footer.menu %}
      <nav class="margin-top margin-bottom" aria-label="Secondary">
        <ul class="list-style-none">
          {% for item in footer.menu %}
            <li class="margin-right margin-left">
              <a href="{{ item.href }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% if footer.social %}
      <nav class="margin-top margin-bottom" aria-label="Social">
        <ul class="list-style-none">
          {% for item in footer.social %}
            <li class="margin-right margin-left">
              <a href="{{ item.href }}" {% if item.rel %} rel="{{ item.rel }}"{% endif %}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    <div class="wrapper wrapper--gamma margin-top margin-bottom">
      <p class="fz-step--2">The site is publically available on <a class="tdu" href="https://github.com/maliMirkec/personal-website/">GitHub</a>.</p>
      <p class="js-page-loaded-in text-center fz-step--2">&nbsp;</p>
      {% if site.author %}
        <p class="fz-step--1 ffs">&copy; {{ site.author }}, {{ 'now' | date: '%Y'}}</p>
      {% endif %}
    </div>
    {% if footer.logo %}
      <a class="dib margin-bottom padding" href="{{ footer.logo.href }}"><img class="margin-auto" src="{{ footer.logo.src }}" alt="{{ footer.logo.title }}" width="200" height="200" loading="lazy"></a>
    {% endif %}
  </footer>
{% endif %}
