{% if header %}
  <header>
    <nav aria-label="Main" id="MainNavigation">
      <button class="button button--small button--outline button--menu" type="button" onclick="event.preventDefault();this.parentNode.classList.toggle('active');this.setAttribute('data-expanded',this.parentNode.classList.contains('active')?'true':'false')" aria-expanded="false" aria-controls="MainNavigation">
        <span>Menu</span>
        <span>Close</span>
      </button>
      <ul class="list-style-none no-spacing">
        {% if header.logo %}
          <li class="margin-top margin-bottom">
            <a class="dib margin-left margin-right glow" href="{{ header.logo.href }}">
              <img src="{{ header.logo.src }}" alt="{{ header.logo.title }}" width="90" height="90">
            </a>
          </li>
        {% endif %}
        {% if header.menu %}
          {% for item in header.menu %}
            <li>
              <ul class="margin-top margin-bottom">
                <li>
                  <a href="{{ item.href }}">{{ item.title }}</a>
                </li>
                {% if item.list %}
                  {% for subitem in item.list %}
                    <li>
                      <a href="{{ subitem.href }}">{{ subitem.title }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </header>
{% endif %}
