<section class="hero margin-top-alpha margin-bottom-alpha">
  <div class="wrapper{% unless hero1.narrow %} wrapper--beta{% endunless %} text-center">
    <div class="padding">
      {% if hero1.tag or tags %}
        <div class="margin-bottom">
          {% if hero1.tag %}
            <a class="button button--small button--invisible with-slash" href="{{ hero1.tag.href }}">{{ hero1.tag.title }}</a>
          {% endif %}
          {% unless hero1.notags %}
            {% if tags %}
              <br>
              {% assign myTags = tags | tagify %}
              {% for tag in myTags %}
                <a class="button button--small button--invisible" href="/tags/{{ tag }}/"><span class="fz-step--2">{{ tag }}</span></a>
              {% endfor %}
            {% endif %}
          {% endunless %}
        </div>
      {% endif %}
      {% if hero1.avatar %}
        <div class="margin-top avatar">
          {% cldnry hero1.avatar hero1.title 60 60 "margin-auto circle" %}
        </div>
      {% endif %}
      {% if hero1.src %}
        <div class="margin-top margin-bottom">
          {% if hero1.width %}
            {% assign hwidth = hero1.width %}
          {% else %}
            {% assign hwidth = "300" %}
          {% endif %}
          {% if hero1.height %}
            {% assign hheight = hero1.height %}
          {% else %}
            {% assign hheight = "300" %}
          {% endif %}
          {% cldnry hero1.src hero1.alt hwidth hheight "margin-auto brad" %}
        </div>
      {% endif %}
      {% if hero1.code %}
        <h1 class="copy--invalid">{{ hero1.code }}</h1>
      {% endif %}
      {% if hero1.title %}
        <h1 class="fz-step-5 no-margin-top margin-bottom">{{ hero1.title | markdownifyi }}</h1>
      {% endif %}
      {% if hero1.desc %}
        <div class="fz-step-1 copy{% if hero1.left %} text-left{% endif %}">{{ hero1.desc | markdownify }}</div>
      {% endif %}
      {% if hero1.subtitle %}
        <h2 class="fz-step-2 margin-top margin-bottom{% if hero1.left %} text-left{% endif %}">{{ hero1.subtitle | markdownifyi }}</h2>
      {% endif %}
      {% if hero1.src2 %}
        <div class="margin-top margin-bottom">
          {% if hero1.width %}
            {% assign hwidth2 = hero1.2 %}
          {% else %}
            {% assign hwidth2 = "300" %}
          {% endif %}
          {% if hero1.height %}
            {% assign hheight2 = hero1.height2 %}
          {% else %}
            {% assign hheight2 = "300" %}
          {% endif %}
          {% cldnry hero1.src2 hero1.alt2 hwidth2 hheight2 "margin-auto brad" %}
        </div>
      {% endif %}
      {% if hero1.desc2 %}
        <div class="copy{% if hero1.left %} text-left{% endif %}">{{ hero1.desc2 | markdownify }}</div>
      {% endif %}
      {% if hero1.cta %}
        <div class="margin-top">
          <a class="button button--border" href="{{ hero1.cta.href }}">{{ hero1.cta.title }}</a>
        </div>
      {% endif %}
      {% if hero1.cta2 %}
        <div class="margin-top">
          <a href="{{ hero1.cta2.href }}">{{ hero1.cta2.title }}</a>
        </div>
      {% endif %}
      {% if hero1.pen %}
        <div class="margin-top-alpha">
          {% codepen "CiTA" hero1.pen "dark" "result" "500" false true %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
