<section class="hero margin-top-alpha">
  <div class="wrapper text-center">
    <div class="padding">
      <div class="margin-bottom">
        {% if firstTag == 'blog' %}
          <a class="button button--invisible button--small with-slash" href="/articles/">Blog</a>
        {% endif %}
        {% if firstTag == 'advent' %}
          <a class="button button--invisible button--small with-slash" href="/side-projects/advent/">Advent</a>
        {% endif %}
        {% if firstTag == 'story' %}
          <a class="button button--invisible button--small with-slash" href="/stories/">Stories</a>
        {% endif %}
        {% if tags %}
          {% assign myTags = tags | tagify %}
          {% for tag in myTags %}
            <a class="button button--invisible button--small" href="/tags/{{ tag | replace: ' ', '%20' }}/"><span class="fz-step--2">{{ tag }}</span></a>
          {% endfor %}
        {% endif %}
        {% if date %}
          <time class="button button--invisible button--small" datetime="{{ date | date: '%Y-%m-%d' }}"><span class="fz-step--2">{{ date | date: '%Y-%m-%d' }}</span></time>
        {% endif %}
      </div>
      {% if title %}
        <h1 class="{% if firstTag == 'story' %}fz-step-3{% else %}fz-step-5{% endif %} no-margin-top margin-bottom">{{ title | markdownifyi }}</h1>
      {% endif %}
      {% if series %}
        {% assign seriesList = collections['my-articles'] | findItem: 'series', series | reverse %}
        {% assign seriesListLength = seriesList | size %}
        {% if seriesList and seriesListLength > 1 %}
          <div class="dib">
            <p class="fz-step--2 no-margin-bottom">Part of “{{ series }}” series:</p>
            <ul class="list-style-none no-margin-top">
              {% for seriesItem in seriesList %}
                <li>
                  {% if seriesItem.url != page.url %}
                    <a class="fz-step--2 tdu" href="{{ seriesItem.url }}">{{ seriesItem.data.title }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% if cta.href and cta.title %}
        <div class="margin-top">
          <a class="button" href="{{ cta.href }}">{{ cta.title }}</a>
        </div>
      {% endif %}
      {% if cta2.href and cta2.title %}
        <div class="margin-top">
          <a href="{{ cta2.href }}">{{ cta2.title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
