{% assign cardTags = collections.all-tags %}

{% if cardTags %}
  <section id="{{ cards1.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper text-center">
      <div class="padding">
        {% assign cardTagsSize = cardTags | size %}
        {% assign cardTagsModulo = cardTagsSize | modulo: 10 %}
        {% if cardTagsModulo == '1' %}
          <p>There is {{ cardTagsSize }} tag overall.</p>
        {% else %}
          <p>There are {{ cardTagsSize }} tags overall.</p>
        {% endif %}
      </div>
      <div class="card">
        <div class="padding">
          {% for cardTag in cardTags %}
            <a class="button button--small button--inverse" href="/tags/{{ cardTag | downcase }}">{{ cardTag }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="card">
        <div class="padding">
          <a class="button button--small" href="/tags/all/">See all content</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}
