{%- liquid
  assign list = collections[component.filter] | sort: "date" | reverse
  assign i1 = 1
-%}

{%- if list -%}
  <section class="box">
    {%- if component.title -%}
      <h2 class="box__title">{{ component.title }}</h2>
    {%- endif -%}
    <ul class="box__list">
      {%- for card in list -%}
        {%- unless component.noDate -%}
          {%- liquid
            assign now = 'now' | date: "%Y-%m-%d"
            assign cardDate = card.data.date | date: "%Y-%m-%d"
            if cardDate > now
              continue
            endif
            if component.limit and i1 > component.limit
              break
            endif
            if component.exclude
              assign tags = card.data.tags | join: ', '
              if tags contains component.exclude
                continue
              endif
            endif
          -%}
        {%- endunless -%}
        {%- unless component.exclude and page.url == card.url -%}
          <li class="box__item">
            {%- if card.data.title -%}
              <h3 class="box__subtitle"><a class="box__anchor" href="{{ card.url }}">{{ card.data.title }}</a></h3>
            {%- endif -%}
            <div class="box__tags">
              {%- if cardDate -%}
                <time class="box__tag" datetime="{{ cardDate }}">{{ cardDate }}</time>
              {%- endif -%}
              {%- if card.data.publication -%}
                <span class="box__tag box__tag--alpha">{{ card.data.publication }}</span>
              {%- endif -%}
              {%- if card.data.tags and true == false -%}
                {%- for tag in card.data.tags -%}
                  {%- unless tag == 'blog' -%}
                    <a href="/tags/{{ tag | slugify }}" class="box__anchor box__tag box__tag--beta">{{ tag }}</a>
                  {%- endunless -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
          </li>
        {%- endunless -%}
        {%- assign i1 = i1 | plus: 1 -%}
      {%- endfor -%}
    </ul>
    {%- if component.cta -%}
      <div class="box__action">
        {%- include _partials/_2024/cta cta: component.cta -%}
      </div>
    {%- endif -%}
  </section>
{%- endif -%}
