{% if cards6.list %}
  {% assign cards6sorted = cards6.list | sortlist %}
  <section class="wrapper wrapper--alpha padding">
    <h2 class="text-center margin-bottom-beta">These are the most epic concerts I attended.</h2>
    <ul class="list-style-none grid">
      {% for item in cards6sorted %}
        {% if item.epic %}
          <li class="card card--flex padding text-center bg-alpha border-darkish">
            <h2 class="margin-top margin-bottom fz-step-3">{{ item.title }}</h2>
            <div class="margin-bottom">
              <p class="no-margin">{% if item.venue %}{{ item.venue }} / {% endif %}{{ item.location }}</p>
              <p class="margin-top no-margin-bottom fz-step--1">{{ item.year }}</p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="wrapper wrapper--alpha margin-top-beta padding">
    <h2 class="text-center margin-top-beta margin-bottom-beta">These are my favorite concerts.</h2>
    <ul class="list-style-none grid">
      {% for item in cards6sorted %}
        {% if item.fav %}
          <li class="card card--flex padding text-center bg-alpha">
            <h2 class="margin-top margin-bottom fz-step-2">{{ item.title }}</h2>
            <div class="margin-bottom">
              <p class="no-margin">{% if item.venue %}{{ item.venue }} / {% endif %}{{ item.location }}</p>
              <p class="margin-top no-margin-bottom fz-step--1">{{ item.year }}</p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="wrapper wrapper--alpha margin-top-beta padding">
    <h2 class="text-center margin-top-beta margin-bottom-beta">These are all other concerts I attended.</h2>
    <ul class="list-style-none grid">
      {% for item in cards6sorted %}
        {% unless item.epic or item.fav %}
          <li class="card card--flex padding text-center bg-lightish">
            <h2 class="margin-top margin-bottom fz-step-1">{{ item.title }}</h2>
            <div class="margin-bottom">
              <p class="no-margin">{% if item.venue %}{{ item.venue }} / {% endif %}{{ item.location }}</p>
              <p class="margin-top no-margin-bottom fz-step--1">{{ item.year }}</p>
            </div>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </section>
{% endif %}
