{% if footer %}
  <footer>
    <div>
      <div>
        {% if site.author %}
          <p><span>&copy;</span> {{ site.author }} {{ site.established }}–{{ 'now' | date: '%Y'}}</p>
        {% endif %}
        {% if footer.github %}
          <p>{{ footer.github.text }} <a href="{{ footer.github.href }}">{{ footer.github.name }}</a>.</p>
        {% endif %}
        <p class="js-page-loaded-in">&nbsp;</p>
      </div>
      {% if footer.logo %}
        <a href="{{ footer.logo.href }}">
          {% cldnry footer.logo.src footer.logo.alt footer.logo.width footer.logo.height true %}
        </a>
      {% endif %}
    </div>
  </footer>
{% endif %}
