{% if footer %}
  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__content">
        {% if site.author %}
          <p><span>&copy;</span> {{ site.author }} {{ site.established }}–{{ 'now' | date: '%Y'}}</p>
        {% endif %}
        {% if footer.github %}
          <p>{{ footer.github.text }} <a href="{{ footer.github.href }}">{{ footer.github.name }}</a>.</p>
        {% endif %}
        <p class="js-page-loaded-in">Page loaded in 0.001s.</p>
      </div>
      {% if footer.logo %}
        <a class="footer__logo" href="{{ footer.logo.href }}">
          {% cldnry footer.logo.src footer.logo.alt footer.logo.width footer.logo.height true %}
        </a>
      {% endif %}
    </div>
  </footer>
{% endif %}
