{%- assign list = collections[component.filter] | sort: "date" | reverse -%}
{%- assign i1 = 1 -%}

{%- if component.color -%}
  {%- assign componentClass = ' box--' | append: component.color -%}
  {%- assign cardClass = ' quote--' | append: component.color -%}
{%- endif -%}

{%- if list -%}
  <section class="box{{ componentClass }}">
    {%- if component.title -%}
      <h2 class="box__title">
        {%- if component.href -%}
          <a href="{{ component.href }}">{{ component.title }}</a>
        {%- else -%}
          {{ component.title }}
        {%- endif -%}
      </h2>
    {%- endif -%}
    <ul class="box__grid">
      {%- for card in list -%}
        {% liquid
          assign now = 'now' | date: "%Y-%m-%d"
          assign cardDate = card.data.date | date: "%Y-%m-%d"
          if cardDate > now
            continue
          endif
          if component.limit and i1 > component.limit
            break
          endif
          if component.exclude
            assign tags = card.data.tags | join: ', '
            if tags contains component.exclude
              continue
            endif
          endif
        %}
        {%- unless component.exclude == 'title' and title == card.data.title -%}
          <li class="box__item">
            <a class="quote{{ cardClass }}" href="{{ card.url }}">
              {%- if card.data.excerpt -%}
                <p class="quote__text">{{ card.data.excerpt }}</p>
              {%- endif -%}
              {%- if card.data.avatar -%}
                {% cldnry card.data.avatar card.data.title 100 100 %}
              {%- endif -%}
              {%- if card.data.title -%}
                <h3 class="quote__person">{{ card.data.title }}</h3>
              {%- endif -%}
              {%- if card.data.position -%}
                <h4 class="quote__position">{{ card.data.position }}</h4>
              {%- endif -%}
              {%- if card.data.company -%}
                <h5 class="quote__company">{{ card.data.company }}</h5>
              {%- endif -%}
            </a>
          </li>
        {%- endunless -%}
        {%- assign i1 = i1 | plus: 1 -%}
      {%- endfor -%}
    </ul>
  </section>
{% endif %}
