- var bannerClass1 = `${banner.wrapperClass ? banner.wrapperClass : 'padding-4 lg-beta'}`;
- var bannerClass2 = `wrapper wrapper-bp2 text-center ${banner.elementClass ? banner.elementClass : 'bg-beta2'}`;

section(class=bannerClass1)
  div(class=bannerClass2)
    .padding-4.df-col-center
      if (banner.src)
        img(src=banner.src, alt=banner.alt, width='100', height='100', loading="lazy")
      if (banner.title)
        h2.fz-step-4.fw-black.margin-b-0 !{banner.title}
      if (banner.desc)
        p.margin-b-0 !{banner.desc}
      if (banner.cta)
        - var ctaClass = `button margin-t-3 ${banner.cta.class ? banner.cta.class : 'button--beta'}`
        a(class=ctaClass, href=banner.cta.href) !{banner.cta.title}
      if (banner.cta2)
        p.fz-step--1.margin-t-3
          a(href=banner.cta2.href) !{banner.cta2.title}
