<div class="padding">
  <section class="banner margin-top-alpha margin-bottom-alpha">
    <div class="wrapper margin-top margin-bottom text-center">
      <div class="padding">
        {% assign twitterLink = "https://twitter.com/intent/tweet?url=" | append: site.url | append: page.url | append: "&text=" | append: title | append: "&via=" | append: site.twitter %}
        {% assign facebookLink = "https://facebook.com/sharer.php?u=" | append: site.url | append: page.url %}
        {% assign redditLink = "https://www.reddit.com/submit?url=" | append: site.url | append: page.url + "&title=" + title %}
        <h3 class="fz-step-2 no-margin-top no-margin-bottom">Share the article</h3>
        <div class="margin-top margin-bottom-alpha">
          <a class="margin-left margin-right" href="{{ twitterLink }}" target="_blank">Twitter ⇢</a>
          <a class="margin-left margin-right" href="{{ facebookLink }}" target="_blank">Facebook ⇢</a>
          <a class="margin-left margin-right" href="{{ redditLink }}" target="_blank">Reddit ⇢</a>
        </div>
        <h3 class="fz-step-2 no-margin-top">About the Author</h3>
        <div class="copy">
          <p>{{ site.about }}</p>
        </div>
        <div class="margin-top margin-bottom-alpha">
          <a class="margin-left margin-right" href="/about/">About ⇢</a>
          <a class="margin-left margin-right" href="/portfolio/">Portfolio ⇢</a>
          <a class="margin-left margin-right" href="/contact/">Contact ⇢</a>
        </div>
        {% assign articles = collections['blog'] %}
        <h3 class="fz-step-2 no-margin-top">Read more articles</h3>
        <div class="margin-top margin-bottom{% unless env.development %}-alpha{% endunless %}">
          {% assign i = 0 %}
          {% for article in articles %}
            {% if title != article.data.title %}
              <div class="margin-bottom">
                <a href="{{ article.url }}">{{ article.data.title }} ⇢</a>
              </div>
              {% assign i = i | plus: 1 %}
            {% endif %}
            {% if i >= 3 %}
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
        {% unless env.development %}
          <h3 class="fz-step-2 no-margin-top text-center">Comments</h3>
          {% include _partials/comments %}
        {% endunless %}
      </div>
    </div>
  </section>
</div>
