<section class="banner margin-top-alpha margin-bottom-alpha">
  <div class="wrapper margin-top margin-bottom text-center">
    <div class="padding">
      <h3 class="fz-step-3 no-margin-top no-margin-bottom">About</h3>
      <p>{{ site.about }}</p>
      <div class="margin-top margin-bottom">
        <a class="button button--small" href="/about/">About ⇢</a>
        <a class="button button--small" href="/portfolio/">Portfolio ⇢</a>
        <a class="button button--small" href="/contact/">Contact ⇢</a>
      </div>
      <hr class="text-dark hr">
      {% assign twitterLink = "https://twitter.com/intent/tweet?url=" | append: site.url | append: page.url | append: "&text=" | append: title | append: "&via=" | append: site.twitter %}
      {% assign facebookLink = "https://facebook.com/sharer.php?u=" | append: site.url | append: page.url %}
      {% assign redditLink = "https://www.reddit.com/submit?url=" | append: site.url | append: page.url + "&title=" + title %}
      <h3 class="fz-step-2 no-margin-top no-margin-bottom">Share:</h3>
      <div class="margin-top margin-bottom">
        <a class="button button--small" href="{{ twitterLink }}" target="_blank" rel="nofollow noopener">Twitter ⇢</a>
        <a class="button button--small" href="{{ facebookLink }}" target="_blank" rel="nofollow noopener">Facebook ⇢</a>
        <a class="button button--small" href="{{ redditLink }}" target="_blank" rel="nofollow noopener">Reddit ⇢</a>
      </div>
      <hr class="text-dark hr">
      {% assign articles = collections['blog'] %}
      {% for article in articles %}
        {% if title == article.data.title %}
          {% assign next_i = forloop.index0 | plus: 1 | string %}
          {% assign prev_i = forloop.index0 | minus: 1 | string %}
        {% endif %}
      {% endfor %}
      {% if next_i >= articles.length %}
        {% assign next_i = 0 %}
      {% endif %}
      {% if prev_i < 0 %}
        {% assign prev_i = articles.length | minus: 1 %}
      {% endif %}
      <h3 class="fz-step-1 no-margin-top no-margin-bottom">Read more articles:</h3>
      <div class="margin-top margin-bottom">
        <a class="button button--small" href="{{articles[next_i].data.url}}" title="{{articles[next_i].data.title}}">⇠ Prev post</a>
        <a class="button button--small" href="{{articles[prev_i].data.url} title="{{articles[prev_i].data.title}}"}">Next post ⇢</a>
      </div>
    </div>
  </div>
</section>
