{% assign card2List = collections[cards2.filter] %}

{% if card2List %}
  <section id="{{ cards2.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper wrapper--alpha grid">
      {% for card2 in card2List %}
        {% if cards2.limit and forloop.index > cards2.limit %}
          {% break %}
        {% endif %}
        <div class="card bg-light">
          <blockquote cite="{{ card2.url }}">
            {% if card2.data.title %}
              <header class="padding no-padding-bottom copy top-border border-dark">
                <p class="fz-step--1">{{ card2.data.title }}{% if card2.data.position %}, {{ card2.data.position }}{% endif %} {% if card2.data.company %} at {{ card2.data.company }}{% endif %} said:</p>
              </header>
            {% endif %}
            {% if card2.template.frontMatter.content %}
              <main class="padding copy fs-italic">{{ card2.template.frontMatter.content }}</main>
            {% endif %}
            <footer>
              <a class="button df padding" href="#more">View project ⇢</a>
            </footer>
          </blockquote>
        </div>
      {% endfor %}
      {% if cards2.desc %}
        <div class="card card--flex text-center bg-light padding">
          <div class="margin-auto">
            <div class="copy">{{ cards2.desc | markdownify }}</div>
            {% if cards2.cta2 %}
              <div class="margin-top">
                <a class="button button--small" href="{{ cards2.cta2.href }}">{{ cards2.cta2.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
