- var cardsClass1 = `${cards.wrapperClass ? cards.wrapperClass : 'padding-x-4 padding-b-4'}`;
- var cardsClass2 = `card df-col-center text-center padding-3 ${cards.elementClass ? cards.elementClass : 'bg-alpha4'}`;

if (cards.list)
  section(class=cardsClass1)
    .wrapper.wrapper-bp2.grid
      each item, i in cards.list
        if (i >= (cards.limit ? cards.limit : site.limit))
          - break
        div(class=cardsClass2)
          h1.fz-step-2.fw-bold.fs-italic.margin-y-2= item.title
          if (item.description)
            .margin-y-2 !{item.description}
          if (item.cta)
            - ctaText = item.cta && item.cta.title ? item.cta.title : 'Hire me &#x21E2;';
            .margin-t-auto
              a.button.button--sm.fw-bold.margin-2(href=item.cta.href) !{ctaText}
