- var cardsClass1 = `${cards.wrapperClass ? cards.wrapperClass : 'padding-x-4 padding-b-4'}`;
- var cardsClass2 = `card df-col-center text-center padding-3 ${cards.elementClass ? cards.elementClass : 'bg-alpha4'}`;
- var cardList = collections[cards.filter]

if (cardList)
  section(class=cardsClass1)
    .wrapper.wrapper-bp3.grid
      each post, i in cardList.reverse()
        if ((i) >= site.limit)
          - break
        - ctaText1 = cards.cta.title ? cards.cta.title : 'Read more &#x21E2;';
        - ctaText2 = cards.cta2.title ? cards.cta2.title : 'See all &#x21E2;';
        div(class=cardsClass2)
          h1.fz-step-3.fw-black.margin-y-2
            a(href=post.data.url)= post.data.title
          //- time.fz-step--1.fw-bold.ttuc.ffm.margin-t-0.margin-b-3.padding-x-1= post.data.date.getDate()
          //- .margin-y-1
          //-   a.fw-bold.margin-1(href='#tag') wordpress
          //-   a.fw-bold.margin-1(href='#tag') frontend
          //-   a.fw-bold.margin-1(href='#tag') shopify
          a.fw-bold.margin-y-2(href=post.data.title)= ctaText1
      .card.df-col-center.text-center.lg-alpha.padding-3
        if (cards.desc)
          p.fz-step-0= cards.desc
          a.fw-bold.margin-y-2(href=cards.cta2.href)= ctaText2

//- if (sections)
//-   each section in sections
//-     section(class=`lg-${section.theme} inside-2`)
//-       .wrapper.wrapper-bp2.df-col.df-center.t-center.outside-b-2
//-         h2.fz-step-5.fw-black.outside-b-0=section.title
//-         h3.fz-step-1.fw-bold.outside-y-3=section.desc
//-       .wrapper.wrapper-bp3.grid.grid--beta.inside-b-4
//-         //- - let list = site.posts.data.filter(post => post.categories.data.find(category => category.name === section.category))

//-         //- if (section.type === 'latest')
//-         //-   - list = list.sort((a, b) => b.date - a.date).slice(0, section.items)
//-         //- else if (section.type === 'featured')
//-         //-   - list = list.filter(a => a.canonical).sort((a, b) => b.date - a.date).slice(0, section.items)

//-         //- each thisPost in list
//-         //-   div(class=`card dif-col-center lg-${section.card}-50 lg-fat inside-3`)
//-         //-     h4.fz-step-2.fw-black.outside-y-2.t-center
//-         //-       a(href=urlFor(thisPost.permalink))=thisPost.title
//-         //-     time.fz-step--1.fw-bold.ttuc.ffm.outside-t-0.outside-b-3.inside-x-1= thisPost.date.format(config.date_format)
//-         //-     if (thisPost.tags && thisPost.tags.length && thisPost.tags.each)
//-         //-       .df-center.inside-y-1.outside-t-a
//-         //-         - thisPost.tags.each(function(tag) {
//-         //-           a(class=`button button--${section.theme} button--sm outside-1` href=urlFor(tag.path))=tag.name
//-         //-         - });
//-         //-     a.fw-bold.outside-y-2(href=urlFor(thisPost.permalink))=section.cta
