<section id="pagination" class="margin-top-alpha margin-bottom-alpha">
  <div class="wrapper wrapper--alpha grid padding">
    {% for card4 in pagination.items %}
      <div class="tilt card card--flex bg-lightish">
        <div class="padding">
          <div class="tilt__inner copy margin-top margin-bottom">{{ card4.content | markdownify }}</div>
        </div>
        <div class="padding margin-top-alpha">
          <div class="tilt__inner margin-top margin-bottom text-center">
            {% if card4.date %}
              <time class="button button--small button--invisible" datetime="{{ card4.date | date: "%Y-%m-%d" }}">{{ card4.date | date: "%Y-%m-%d" }}</time>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="wrapper wrapper--alpha grid padding">
    {% if pagination.previousPageHref or pagination.nextPageHref %}
      <nav class="pagination" role="navigation" aria-label="Pagination Navigation">
        <ul>
          {% if pagination.previousPageHref %}
            <li>
              <a class="button button--small button--outline" href="{{ pagination.previousPageHref }}" aria-label="Go to previous page" aria-current="true">← Previous</a>
            </li>
          {% endif %}
          {% if pagination.pageNumber %}
            <li>
              <a class="button button--small button--outline button--inverse" href="{{ pagination.hrefs[pagination.pageNumber] }}" aria-label="Current page, page {{ pagination.pageNumber }}" aria-current="true">Current: {{ pagination.pageNumber }}</a>
            </li>
          {% endif %}
          {% if pagination.nextPageHref %}
            <li>
              <a class="button button--small button--outline" href="{{ pagination.nextPageHref }}" aria-label="Go to next page" aria-current="true">Next →</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
</section>
