{% assign cardListTag = collections[tag] | reverse %}

{% if cardListTag %}
  <div id="{{ cards1.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper">
      <div class="padding no-padding-top">
        {% assign cardListSize = cardListTag | size %}
        {% assign cardListModulo = cardListSize | modulo: 10 %}
        {% if cardListModulo == '1' %}
          <p>There is {{ cardListSize }} link tagged as “{{ tag }}”.</p>
        {% else %}
          <p>There are {{ cardListSize }} links tagged as “{{ tag }}”.</p>
        {% endif %}
      </div>
      {% for cardTag in cardListTag %}
        <div class="card">
          {% if cardTag.data.title %}
            <h3 class="fz-step-3 no-margin-top no-margin-bottom margin-left margin-right"><a class="margin-top" href="{{ cardTag.url }}">{{cardTag.data.title}}</a></h3>
          {% endif %}
          <div class="padding">
            {% if cardTag.data.tags %}
              <div class="margin-bottom">
                {% if cardTag.data.publication %}
                  <a class="button button--small" href="{{ cardTag.data.canonical }}">{{ cardTag.data.publication }} ⇢</a>
                {% endif %}
                {% assign myTags = cardTag.data.tags %}
                {% for tag in myTags %}
                  <a class="button button--small button--inverse" href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
                {% if cardTag.data.date and cardTag.data.type == 'articles-item' %}
                  <time class="button button--small button--outline">{{ cardTag.data.date | date: "%Y-%m-%d" }}</time>
                {% endif %}
                {% if cards1.cta %}
                  <div class="copy margin-top">{{ cardTag.data.description }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>
          {% if cards1.cta %}
            <a class="button df padding" href="{{ cardTag.url }}">{{ cards1.cta.title }}</a>
          {% endif %}
        </div>
        {% assign i1 = i1 | plus: 1 %}
      {% endfor %}
      {% if cards1.desc %}
        <div class="card card--flex text-center padding">
          <div class="margin-auto">
            <div class="copy">{{ cards1.desc | markdownify }}</div>
            {% if cards1.cta2 %}
              <div class="margin-top">
                <a class="button" href="{{ cards1.cta2.href }}">{{ cards1.cta2.title }}</a>
              </div>
            {% endif %}
            {% if cards1.cta3 %}
              <div class="margin-top">
                <a href="{{ cards1.cta3.href }}">{{ cards1.cta3.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
