- var cardsClass1 = `${cards.wrapperClass ? cards.wrapperClass : 'padding-x-4 padding-b-4'}`;
- var cardsClass2 = `card df-col-center text-center padding-3 ${cards.elementClass ? cards.elementClass : ' bg-alpha'}`;
- var cardsClass3 = `card df-col-center text-center padding-3 ${cards.elementClass2 ? cards.elementClass2 : 'lg-alpha'}`;
- var cardList = cards.sorter ? collections[cards.filter].sort((a, b) => (a.data[cards.sorter] > b.data[cards.sorter]) ? -1 : 1) : collections[cards.filter];

if (cardList)
  section(class=cardsClass1)
    .wrapper.wrapper-bp2.grid.grid--alpha.grid--center
      each post, i in cardList.reverse()
        if (i >= (cards.limit ? cards.limit : site.limit))
          - break
        div(class=cardsClass2)
          .margin-b-1
            h1.fz-step-1.fw-bold.fs-italic.margin-y-2
              a.tdn(href=post.url)= post.data.title
            if (post.data.thumbnail)
              .margin-b-2.dib
                +cldnry(post.data.thumbnail, post.data.title, '480', '240')
          .margin-t-auto
            if (post.data.categories)
              .text-center.margin-b-1
                span.fz-step--1.margin-y-1 Tagged as:
                span.fz-step--1.margin-y-1.margin-l-1 !{post.data.categories.join(', ')}
            - ctaText1 = cards.cta && cards.cta.title ? cards.cta.title : 'View project &#x21E2;';
            a.fw-bold.margin-y-2(href=post.url) !{ctaText1}
      if (cards.desc)
        div(class=cardsClass3)
          p.fz-step-0 !{cards.desc}
          - ctaText2 = cards.cta2 && cards.cta2.title ? cards.cta2.title : 'See all &#x21E2;';
          a.fw-bold.margin-y-2(href=cards.cta2.href) !{ctaText2}

