{% assign card2List = collections[cards2.filter] %}
{% assign i2 = 1 %}

{% if card2List %}
  <div id="{{ cards2.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper wrapper--alpha grid padding">
      {% for card2 in card2List %}
        {% if cards2.limit and i2 > cards2.limit %}
          {% break %}
        {% endif %}
        {% unless cards2.exclude == 'true' or title == card2.data.title %}
          <div class="card">
            <blockquote cite="{{ card2.url }}">
              <div class="bg-lightish margin-bottom">
                {% if card2.data.title %}
                  <header class="padding copy">
                    {% if card2.data.avatar and cards2.cta %}
                      <a class="df aic" href="{{ card2.url }}">
                        {% if card2.data.avatar %}
                          <span class="db margin-right avatar">
                            {% cldnry card2.data.avatar card2.data.title 60 60 "margin-auto circle" "db" %}
                          </span>
                        {% endif %}
                        <span class="db">
                          <p class="fz-step--1 no-margin">{{ card2.data.title }}</p>
                          <p class="fz-step--1 no-margin">{% if card2.data.position %}{{ card2.data.position }}{% endif %} {% if card2.data.company %} at {{ card2.data.company }}{% endif %}</p>
                        </span>
                      </a>
                    {% endif %}
                  </header>
                {% endif %}
                {% if card2.data.excerpt %}
                  <div class="padding copy fs-italic fz-step-0">{{ card2.data.excerpt | markdownify }}</div>
                {% else if card2.template.frontMatter.content %}
                  <div class="padding copy fs-italic fz-step-0">{{ card2.template.frontMatter.content | markdownify }}</div>
                {% endif %}
              </div>
              {% if cards2.cta %}
                <footer class="text-center margin-top margin-bottom">
                  <a class="button button--small button--outline padding" href="{{ card2.url }}">{{ cards2.cta.title }}</a>
                </footer>
              {% endif %}
            </blockquote>
          </div>
          {% assign i2 = i2 | plus: 1 %}
        {% endunless %}
      {% endfor %}
      {% if cards2.desc %}
        <div class="card card--flex text-center padding">
          <div class="margin-auto">
            <div class="copy">{{ cards2.desc | markdownify }}</div>
            {% if cards2.cta2 %}
              <div class="margin-top">
                <a class="button" href="{{ cards2.cta2.href }}">{{ cards2.cta2.title }}</a>
              </div>
            {% endif %}
            {% if cards2.cta3 %}
              <div class="margin-top">
                <a class="tdu" href="{{ cards2.cta3.href }}">{{ cards2.cta3.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
