{% assign card3List = collections[cards3.filter] %}
{% assign i3 = 1 %}

{% if card3List %}
  <div id="{{ cards3.filter }}" class="margin-top-alpha margin-bottom-alpha">
    <div class="wrapper wrapper--alpha grid">
      {% for card3 in card3List %}
        {% if cards3.limit and i3 > cards3.limit %}
          {% break %}
        {% endif %}
        {% unless cards3.exclude == 'true' or title == card3.data.title %}
          <div class="card text-center oh">
            {% if card3.data.thumbnail %}
              <a class="db padding glow" href="{{ card3.url }}">{% cldnry card3.data.thumbnail card3.data.title "552" "304" %}</a>
            {% endif %}
            {% if card3.data.title %}
              <div class="padding no-padding-top">
                <h3 class="fz-step-3 no-spacing"><a href="{{ card3.url }}">{{ card3.data.title }}</a></h3>
              </div>
            {% endif %}
            {% if card3.data.tags %}
              <div class="padding">
                {% assign myTags = card3.data.tags | tagify %}
                {% for tag in myTags %}
                  <a class="button button--small button--inverse" href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
                {% if cards3.cta %}
                  <div class="margin-top">
                    <a href="{{ card3.url }}">{{ cards3.cta.title }}</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
          {% assign i3 = i3 | plus: 1 %}
        {% endunless %}
      {% endfor %}
      {% if cards3.desc %}
        <div class="card card--flex text-center padding">
          <div class="margin-auto">
            <div class="copy">{{ cards3.desc | markdownify }}</div>
            {% if cards3.cta2 %}
              <div class="margin-top">
                <a class="button" href="{{ cards3.cta2.href }}">{{ cards3.cta2.title }}</a>
              </div>
            {% endif %}
            {% if cards3.cta3 %}
              <div class="margin-top">
                <a href="{{ cards3.cta3.href }}">{{ cards3.cta3.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
