- var contactClass = `${contact.wrapperClass ? contact.wrapperClass : 'padding-b-4'}`;
- var contactClass2 = `card df-col padding-4 ${contact.elementClass ? contact.elementClass : 'bg-alpha2'}`;
- var buttonClass = `button ${contact.elementClass ? contact.elementClass : 'lg-alpha'}`;

section(class=contactClass)
  .wrapper.wrapper-bp1.grid
    form(class=contactClass2, method="POST",  netlify)
      if (contact.title)
        h1.fz-step-2.fw-bold.fs-italic.margin-y-2= contact.title
      .padding-y-2
        label(for="Name") What is your name?
        input.input#Name(type="text", name="name", rules="required")
      .padding-y-2
        label(for="Email") What is your email address?
        input.input#Email(type="email", name="email")
      .padding-y-2
        label(for="Note") What is your message?
          textarea.input#Note(name="note", rules="required", rows="6")
      .padding-y-2
        button(class=buttonClass, type="submit") Submit
