{% if footer %}
  <footer class="text-center">
    {% if footer.menu %}
      <nav class="margin-top margin-bottom" aria-label="Secondary">
        <ul class="list-style-none">
          {% for item in footer.menu %}
            <li class="margin-right margin-left">
              <a href="{{ item.href }}" class="padding-y-1">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% if footer.social %}
      <nav class="margin-top margin-bottom" aria-label="Social">
        <ul class="list-style-none">
          {% for item in footer.social %}
            <li class="margin-right margin-left">
              <a href="{{ item.href }}" class="padding-y-1"{% if item.href contains "github" %} rel="me"{% endif %}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% if site.author %}
      <div class="wrapper wrapper--gamma padding copy">
        <p class="fz-step--1">Home of <strong>fearless</strong> web engineer, <strong>CSS developer</strong>, JAMstack enthusiast, WordPress theme specialist, author of the <a href="https://buttondown.email/starbist">UI Dev Newsletter</a>, and founder of <a href="https://css-auditors.com/">CSS Auditors</a>.</p>
        <p class="fz-step--2">In case of any issues or suggestions, please <a href="https://github.com/maliMirkec/personal-website/issues/new">open a new issue</a>.<br>Source code is available publicly <a href="https://github.com/maliMirkec/personal-website/">on GitHub</a>.</p>
        <p class="fz-step--1">&copy; {{ site.author }}, {{ 'now' | date: '%Y'}}</p>
      </div>
    {% endif %}
    {% if footer.logo %}
      <a class="dib margin-bottom glow" href="{{ footer.logo.href }}"><img class="margin-auto" src="{{ footer.logo.src }}" alt="{{ footer.logo.title }}" width="50" height="50" loading="lazy"></a>
    {% endif %}
  </footer>
{% endif %}
