{% if header %}
  <header>
    <nav>
      <ul class="list-style-none no-spacing">
        {% if header.logo %}
          <li class="margin-top">
            <a class="db margin-right" href="{{ header.logo.href }}">
              <img class="hidden-sm" src="{{ header.logo.src }}" alt="{{ header.logo.title }}" width="90" height="90">
              <img class="hidden-lg" src="{{ header.logo.src2 }}" alt="{{ header.logo.title }}" width="40" height="40">
            </a>
          </li>
        {% endif %}
        {% if header.menu %}
          {% for item in header.menu %}
            <li>
              <ul class="margin-top">
                <li>
                  <a href="{{ item.href }}">{{ item.title }}</a>
                </li>
                {% if item.list %}
                  {% for subitem in item.list %}
                    <li>
                      <a href="{{ subitem.href }}">{{ subitem.title }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </header>
{% endif %}
