<section class="hero margin-top-alpha">
  <div class="wrapper text-center">
    <div class="padding">
      <div class="margin-bottom">
        <a class="button button--small" href="/articles/">/Blog</a>
        {% if tags %}
          {% assign myTags = tags | tagify %}
          {% for tag in myTags %}
            <a class="button button--small button--inverse" href="/tags/{{ tag }}/">{{ tag }}</a>
          {% endfor %}
        {% endif %}
        {% if date %}
          <time class="button button--small button--invisible">{{ date | date: '%Y-%m-%d' }}</time>
        {% endif %}
      </div>
      {% if title %}
        <h1 class="fz-step-6 no-margin-top margin-bottom">{{ title | markdownifyi }}</h1>
      {% endif %}
      {% if cta %}
        <div class="margin-top">
          <a class="button" href="{{ cta.href }}">{{ cta.title }}</a>
        </div>
      {% endif %}
      {% if cta2 %}
        <div class="margin-top">
          <a href="{{ cta2.href }}">{{ cta2.title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
