- var heroClass1 = `padding-4 ${hero.wrapperClass ? hero.wrapperClass : ''}`;
- var heroClass2 = `wrapper wrapper-bp2 df-col-center text-center ${hero.elementClass ? hero.elementClass : ''}`;

section(class=heroClass1)
  div(class=heroClass2)
    if (hero.title)
      h2.fz-step-5.fw-bold.margin-t-0.margin-b-1 !{hero.title}
    if (hero.desc)
      p !{hero.desc}
    if (hero.src)
      img(src=hero.src, alt=hero.alt, width='100', height='100', loading="lazy")
