<section class="hero margin-top-alpha">
  <div class="wrapper text-center">
    <div class="padding">
      <div class="margin-bottom">
        <a class="button button--small button--inverse" href="/articles/">/Blog</a>
        {% if date %}
          <span class="button button--small button--inverse">{{ date | date: '%Y-%m-%d' }}</span>
        {% endif %}
        {% if categories %}
          {% for category in categories %}
            <span class="button button--small button--inverse">{{ category }}</span>
          {% endfor %}
        {% endif %}
      </div>
      {% if title %}
        <h1 class="fz-step-5 no-margin-top margin-bottom">{{ title | markdownifyi }}</h1>
      {% endif %}
      {% if cta %}
        <div class="margin-top">
          <a class="button" href="{{ cta.href }}">{{ cta.title }}</a>
        </div>
      {% endif %}
      {% if cta2 %}
        <div class="margin-top">
          <a href="{{ cta2.href }}">{{ cta2.title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
