{% if pagination.pageNumber > -1 and layout != 'tags' %}
  {% assign pageNumber = pagination.pages | size | minus: pagination.pageNumber %}
  {% assign title = title | append: ' #'| append: pageNumber %}
{% endif %}
{% if titlePrefix %}
  {%- assign title = titlePrefix | append: title -%}
{% endif %}
{% if descriptionPrefix and thisRead.description %}
  {% assign description = descriptionPrefix | append: ' ' | append: thisRead.description %}
{% elsif descriptionPrefixAlt and pageNumber %}
  {% assign description = descriptionPrefixAlt | append: ' #' | append: pageNumber | append: '.'  %}
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% if canonical %}
  <link rel="canonical" href="{{ canonical }}">
{% elsif page.url %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% endif %}
<meta name="referrer" content="no-referrer">
{% if tags and tags[0] == 'blog' and site.author %}
  <meta name="author" content="{{ site.author }}">
{% endif %}
{% if page.description %}
  <meta name="description" content="{{ page.description | escape }}">
{% elsif description %}
  <meta name="description" content="{{ description | escape }}">
{% endif %}
{% if noindex %}
  <meta name="robots" content="noindex,nofollow">
{% endif %}
{% if isNewsletter %}
  {% assign siteTitle = newsletter.title %}
{% else %}
  {% assign siteTitle = site.title %}
{% endif %}

<title>{{ title }} \m/ {{ siteTitle }}</title>
