<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% if canonical %}
  <link rel="canonical" href="{{ canonical }}">
{% elsif page.url %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% endif %}
<meta name="referrer" content="no-referrer">
{% if tags and tags[0] == 'blog' and site.author %}
  <meta name="author" content="{{ site.author }}">
{% endif %}
{% if page.description %}
  <meta name="description" content="{{ page.description | escape }}">
{% elsif description %}
  <meta name="description" content="{{ description | escape }}">
{% endif %}
<title>{{ title }} | {{ site.title }}</title>
{% if noindex %}
  <meta name="robots" content="noindex">
{% endif %}
