<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- partial('head/favicon.ejs') %>
  <%- partial('head/og.ejs') %>
  <% if (theme.site.author) { %>
    <meta name="author" content="<%= theme.site.author %>">
  <% } %>
  <% if (theme.site.description) { %>
    <meta name="description" content="<%= theme.site.description %>">
  <% } %>
  <%- partial('head/critical.ejs') %>
  <% if (theme.site.full_name) { %>
    <% var title = page.title ? page.title + ' | ' + theme.site.full_name : theme.site.full_name %>
    <title><%= title  %></title>
  <% } %>
</head>
