<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    {% assign articles = reads %}
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.description }}</description>
    <lastBuildDate>{{ articles[0].date | date: '%a, %d %b %Y %H:%M:%S %z' }}</lastBuildDate>
    <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
    <generator>manual</generator>
    <language>en</language>
    <image>
      <title>{{ metadata.title }}</title>
      <url>{{ metadata.image }}</url>
      <link>{{ metadata.url }}</link>
    </image>
    <copyright>All rights reserved, {{ metadata.author.name }}</copyright>
    {% if metadata.tags %}
      {% for tag in metadata.tags %}
        <category>{{ tag }}</category>
      {% endfor %}
    {% endif %}
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml"/>
    {% for article in articles %}
    <item>
      <title>UI Dev Newsletter, Issue {{ reads | size | plus: 1 | minus: forloop.index | prepend: '#' }}</title>
      <link>{{ metadata.url | append: '/reads/' | append: article.date }}</link>
      <guid>{{ metadata.url | append: '/reads/' | append: article.date }}</guid>
      <pubDate>{{ article.date | date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>
      <author>{{ metadata.author.email }} ({{ metadata.author.name }})</author>
      <description>Issue {{ reads | size | plus: 1 | minus: forloop.index | prepend: '#' }} of the UI Dev Newsletter{% if article.description %} features {{ article.description }}{% endif %}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
