<section class="hero hero--fancy">
  <div class="wrapper{% unless hero1.narrow %} wrapper--alpha{% endunless %} text-center">
    <div class="padding">
      {% if hero1.tag or tags %}
        <div class="margin-bottom-alpha">
          {% if hero1.tag %}
            <a class="button button--invisible button--small with-slash" href="{{ hero1.tag.href }}">{{ hero1.tag.title }}</a>
          {% elsif tags %}
            {% assign firstTag = tags | first %}
            {% if firstTag == 'portfolio' %}
              <a class="button button--invisible button--small with-slash" href="/portfolio/">Portfolio</a>
            {% endif %}
            {% if firstTag == 'testimonials' %}
              <a class="button button--invisible button--small with-slash" href="/testimonials/">Testimonials</a>
            {% endif %}
            {% if firstTag == 'projects' %}
              <a class="button button--invisible button--small with-slash" href="/side-projects/">My projects</a>
            {% endif %}
            {% if firstTag == 'invalid css' %}
              <a class="button button--invisible button--small with-slash" href="/side-projects/invalid-css/">Invalid CSS</a>
            {% endif %}
            {% if firstTag == 'favorites' %}
              <a class="button button--invisible button--small with-slash" href="/favorites/">My favorites</a>
            {% endif %}
            {% assign myTags = tags | tagify %}
            {% for tag in myTags %}
              <a class="button button--invisible button--small" href="/tags/{{ tag }}/"><span class="fz-step--2">{{ tag }}</span></a>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      {% if hero1.avatar %}
        <div class="margin-top margin-bottom-alpha avatar">
          {% cldnry hero1.avatar hero1.title 80 80 "" true %}
        </div>
      {% endif %}
      {% if hero1.src %}
        <div class="margin-top margin-bottom-alpha">
          {% if hero1.width %}
            {% assign hwidth = hero1.width %}
          {% else %}
            {% assign hwidth = 300 %}
          {% endif %}
          {% if hero1.height %}
            {% assign hheight = hero1.height %}
          {% else %}
            {% assign hheight = 300 %}
          {% endif %}
          {% if hwidth < 300 %}
            {% cldnry hero1.src hero1.alt hwidth hheight "" true %}
          {% else %}
            {% cldnry hero1.src hero1.alt hwidth hheight '400:100vw;600:75vw:62.5em;760:50vw:100em' true %}
          {% endif %}
        </div>
      {% endif %}
      {% if hero1.code %}
        <h1 class="copy--invalid">{{ hero1.code }}</h1>
      {% endif %}
      {% if hero1.title %}
        <h1 class="fz-step-5 no-margin-top margin-bottom-alpha">{{ hero1.title | markdownifyi }}</h1>
      {% endif %}
      {% if hero1.desc %}
        <div class="copy balance{% if hero1.left %} text-left{% endif %}">{{ hero1.desc | markdownify }}</div>
      {% endif %}
      {% if hero1.footnote %}
        <div class="copy balance fz-step--1 margin-top">{{ hero1.footnote | markdownify }}</div>
      {% endif %}
      {% if hero1.subtitle %}
        <h2 class="fz-step-2 margin-top-alpha margin-bottom-alpha{% if hero1.left %} text-left{% endif %}">{{ hero1.subtitle | markdownifyi }}</h2>
      {% endif %}
      {% if hero1.desc2 %}
        <div class="copy {% if hero1.left %} text-left{% endif %}">{{ hero1.desc2 | markdownify }}</div>
      {% endif %}
      {% if hero1.cta %}
        <div class="margin-top-alpha">
          <a class="button button--inverse{% if hero1.cta.animate and site.animate %} js-animate{% endif %}" href="{{ hero1.cta.href }}">{{ hero1.cta.title }}</a>
        </div>
      {% endif %}
      {% if hero1.cta2 %}
        <div class="margin-top-alpha">
          <a href="{{ hero1.cta2.href }}">{{ hero1.cta2.title }}</a>
        </div>
      {% endif %}
      {% if hero1.pen %}
        <div class="margin-top-alpha">
          {% codepen "CiTA" hero1.pen "dark" "result" "500" false true %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
